.sewera-main-page .title-info-small {
	font-size: 24px;
	line-height: 1.3;
	font-weight: 700;
	font-family: Onest, sans-serif, Arial !important;
	@media (max-width: $laptop_L) {
		font-size: 22px;
	}
	@media (max-width: $laptop) {
		font-size: 20px;
	}
	@media (max-width: $tablet) {
		font-size: 18px;
	}
}

.sewera-main-page .text-info {
	@include mainBigFS;

	@media (max-width: $laptop_L) {
		@include mainBigFS-LLD;
	}
	@media (max-width: $laptop) {
		@include mainFS;
	}
	@media (max-width: $tablet) {
		@include smallFS;
	}
}
.sewera-main-page .butt_arrow-r,
.sewera-main-page .butt {
	padding: 12px 20px;
	border-radius: 8px;
	background-color: var(--mainColor);
	color: #fff;
	font-weight: 600;
	@include mainFS;

	@media (max-width: $laptop) {
		@include smallFS;
	}
	@media (any-hover: hover) {
		&:hover {
			color: #fff;
		}
	}
}
.sewera-main-page .butt_arrow-r {
	display: flex;
	align-items: center;
	justify-content: center;
	&::after {
		content: "";
		margin-left: 8px;
		background: url("https://sewera.ru/srv/assets/images/septik/icons/arrow-table.svg") 0 0 / 14px 14px no-repeat;
		width: 14px;
		height: 14px;
	}
}
