.sewera-info ul {
	margin-bottom: 0;
	margin-left: 0;
}
.sewera-info p {
	padding: 0;
}

.sewera-info a {
	@media (any-hover: hover) {
		&:hover {
			color: inherit;
		}
	}
}
.sewera-info .page-bl {
	padding: 0 20px;
	max-width: 1200px;
	box-sizing: content-box;
}
.sewera-info .all-link-page {
	margin-top: 24px;
	// .all-link-page__item

	& .page-bl {
		@media (max-width: $laptop) {
			padding-right: 0;
		}
	}
	&__wrapper {
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 35px;
		background-color: var(--bgMain);
		padding: 8px 16px;
		border-radius: 8px;
		overflow-x: visible;

		@media (max-width: $laptop) {
			overflow-x: scroll;
		}
	}
	&__item {
		flex: 0 1 11.111%;
		text-align: center;
		&._active-page {
			padding: 8px 12px;
			background-color: var(--mainColor);
			font-weight: 700;
			color: #fff;
			border-radius: 8px;
			a {
				display: inline-block;
			}
		}
	}

	// .all-link-page__link

	&__link {
		text-wrap: nowrap;
		@include smallFS;
	}
}
.about-us {
	// .about-us__title

	& .page-bl {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
		@media (max-width: $laptop_L) {
			row-gap: 24px;
		}
		@media (max-width: $laptop) {
			row-gap: 32px;
		}
	}
	&__title {
		font-size: 48px;
		line-height: 1.15;
		font-weight: 700;
		margin-bottom: 20px;
		@media (max-width: $laptop_L) {
			font-size: 44px;
		}
		@media (max-width: $laptop) {
			font-size: 36px;
			line-height: 1.2;
		}
		@media (max-width: $tablet) {
			font-size: 32px;
		}
	}

	// .about-us__text

	&__text {
		font-size: 24px;
		line-height: 1.35;

		font-weight: 700;
		max-width: 821px;
		@media (max-width: $laptop_L) {
			font-size: 22px;
		}
		@media (max-width: $laptop) {
			font-size: 20px;
			line-height: 1.25;
		}
		@media (max-width: $tablet) {
			font-size: 18px;
		}
	}

	// .about-us__items

	&__items {
		display: flex;
		gap: 32px;
		padding: 20px 0;
		@media (max-width: $laptop) {
			flex-direction: column;
			background-color: var(--bgMain);
			border-radius: 12px;
			padding: 24px;
		}
		@media (max-width: $tablet) {
			padding: 20px;
			gap: 24px;
		}
	} // .about-us__footer

	&__footer {
	}
}

.card-about {
	// .card-about__item

	&__item {
		flex: 0 1 33.333%;
	}

	// .card-about__title

	&__title {
		display: flex;
		align-items: center;
		column-gap: 12px;

		margin-bottom: 18px;
	}

	// .card-about__text

	&__text {
		@include mainBigFS;
		@media (max-width: $laptop_L) {
			@include mainBigFS-LLD;
		}
		@media (max-width: $tablet) {
			@include mainFS;
		}
	}
}

.footer-about {
	display: flex;
	gap: 24px;
	@media (max-width: $laptop) {
		gap: 20px;
	}
	@media (max-width: 429.98px) {
		flex-direction: column;
	}
	// .footer-about__card

	&__card {
		flex: 0 1 50%;
		display: flex;
		align-items: flex-start;
		gap: 24px;
		padding: 24px;
		border-radius: 12px;
		&:first-child {
			background-color: var(--с-light-beige);
		}
		&:last-child {
			background-color: var(--с-light-blue);
		}
		@media (max-width: $laptop_L) {
			padding: 20px;
		}
		@media (max-width: $laptop) {
			gap: 20px;
			@include smallFS;
		}
		@media (max-width: $tablet) {
			flex-direction: column-reverse;
			justify-content: flex-start;
		}
	}

	// .footer-about__text

	&__text {
		@media (max-width: $tablet) {
			flex: 1 1 auto;
		}
	}
}
.sewera-info .our-way {
	// .our-way__header

	&__header {
		margin-bottom: 72px;
		text-align: center;
		@media (max-width: $laptop_L) {
			margin-bottom: 64px;
		}
		@media (max-width: $laptop) {
			margin-bottom: 32px;
		}
	}

	// .our-way__title

	&__title {
		margin-bottom: 8px;
	}

	// .our-way__sub-title

	&__sub-title {
		font-size: 20px;
		line-height: 1.4;
		@media (max-width: $laptop_L) {
			@include mainBigFS-LLD;
		}
		@media (max-width: $laptop) {
			@include mainFS;
			br {
				display: none;
			}
		}
	}
	// .our-way__body

	&__body {
	}
}

.sewera-info .body-our-way {
	display: flex;

	@media (max-width: $laptop) {
		flex-direction: column-reverse;
	}
	// .body-our-way__contetn

	&__contetn {
		background-color: var(--bgMain);
		padding: 40px;
		border-radius: 12px;

		@media (max-width: $laptop_L) {
			padding: 24px;
		}
		@media (max-width: $laptop) {
			padding: 32px 20px;
		}
	}
	&__img,
	&__contetn {
		flex: 0 0 618px;

		@media (max-width: $laptop_L) {
			flex: 0 1 618px;
		}
		@media (max-width: $laptop) {
			flex: none;
		}
	}
	// .body-our-way__title

	&__title {
		margin-bottom: 24px;
		@media (max-width: $laptop) {
			margin-bottom: 20px;
		}
	}

	// .body-our-way__text

	&__text {
		max-width: 453px;
		&:not(:last-child) {
			margin-bottom: 40px;
		}
		@media (max-width: $laptop_L) {
			max-width: 389px;
			&:not(:last-child) {
				margin-bottom: 34px;
			}
		}
		@media (max-width: $laptop) {
			max-width: 100%;
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
		@media (max-width: $tablet) {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	// .body-our-way__img

	&__img {
		position: relative;
		top: -26px;
		right: 36px;
		@media (max-width: $laptop) {
			top: 0;
			right: 0;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 12px;
			@media (max-width: $laptop) {
				height: 387px;
			}
			@media (max-width: $tablet) {
				height: 240px;
			}
		}
	}
	&__img-text {
		background-color: #fff;
		padding: 4px 8px;
		position: absolute;
		border-radius: 8px;
		top: 20px;
		right: 20px;
		font-weight: 700;
		display: flex;
		align-items: center;
		column-gap: 8px;
		@include smallFS;
		line-height: 1;
		@media (max-width: $laptop) {
			font-size: 12px;
		}
		&::after {
			content: "";

			background: url("../img/info-page/page-about-company/icons/star-orange.svg") 0 0 no-repeat;
			width: 20px;
			height: 20px;
			display: inline-block;
			@media (max-width: $laptop) {
				width: 16px;
				height: 16px;
				background-size: contain;
			}
		}
	}
}

.sewera-info .our-advantages {
	@media (max-width: $laptop) {
		display: none;
	}
	// .our-advantages__items

	&__items {
		display: flex;
		column-gap: 24px;
	}

	// .our-advantages__item
	&__item {
		flex: 0 1 25%;
		padding: 20px;
		border-radius: 12px;
		&:nth-child(1) {
			background-color: var(--c-light-green);
		}
		&:nth-child(2) {
			background-color: #c8ebff4d;
		}
		&:nth-child(3) {
			background-color: #ffe8de66;
		}
		&:nth-child(4) {
			background-color: #fff5c7b2;
		}
		img {
			margin-bottom: 20px;
		}
	}
}

.sewera-info .sewera-number {
	& .page-bl {
		@media (max-width: $tablet) {
			padding: 0;
			// padding-left: 20px;
		}
	}
	// .sewera-number__slider

	&__slider {
		padding: 0 20px;
	}

	// .sewera-number__swiper

	&__swiper {
		@media (max-width: $tablet) {
			padding-right: 20px;
		}
	}

	// .sewera-number__slide

	&__slide {
		background-color: var(--bgMain);
		border-radius: 12px;
		padding: 24px;
		height: auto;
		@media (max-width: $laptop_L) {
			padding: 20px;
		}
	}

	// .sewera-number__number

	&__number {
		font-size: 48px;
		line-height: 1.1;
		@media (max-width: $laptop_L) {
			font-size: 44px;
		}
		@media (max-width: $laptop) {
			font-size: 36px;
		}
		@media (max-width: $tablet) {
			font-size: 32px;
		}
	}
	&__number,
	&__name {
		color: var(--c-orange);
		font-weight: 700;
	}
	&__name {
		@include mainBigFS;
		margin-bottom: 24px;
		@media (max-width: $laptop_L) {
			margin-bottom: 20px;
		}
		@media (max-width: $laptop) {
			font-size: 16px;
			margin-bottom: 16px;
		}
	}
	// .sewera-number__text

	&__text {
		@media (max-width: $tablet) {
			@include smallFS;
		}
	}
}

.sewera-info .what-we-do {
	// .what-we-do__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 40px;
		@media (max-width: $laptop_L) {
			gap: 24px;
		}
		@media (max-width: $laptop) {
			gap: 20px;
		}
	}
	&__row {
		gap: 40px;
		display: flex;
		@media (max-width: $laptop_L) {
			gap: 24px;
		}
		@media (max-width: $laptop) {
			gap: 20px;
		}
	}
	// .what-we-do__item

	&__item {
		@include mainBigFS;

		background-color: var(--bgMain);
		border-radius: 30px 30px 30px 2px;
		padding: 14px 24px;
		font-weight: 700;
		@media (max-width: $laptop_L) {
			padding: 13px 20px;
			@include mainBigFS-LLD;
		}
		@media (max-width: $laptop) {
			@include mainFS;
		}
		@media (max-width: $tablet) {
			@include smallFS;
		}
		&_orange {
			background-color: #fff6f2;
			color: var(--c-orange);
		}
	}
}
.sewera-info .our-partners {
	// .our-partners__header

	&__header {
		margin-bottom: 40px;
		@media (max-width: $laptop_L) {
			margin-bottom: 32px;
		}
	}

	// .our-partners__title

	&__title {
		margin-bottom: 20px;
		@media (max-width: $tablet) {
			margin-bottom: 12px;
		}
	}

	// .our-partners__sub-title

	&__sub-title {
		@media (max-width: $laptop_L) {
			br {
				display: none;
			}
		}
		@media (max-width: $laptop) {
			@include mainBigFS-LLD;
		}
		@media (max-width: $tablet) {
			@include mainFS;
			br {
				display: block;
			}
		}
	}

	// .our-partners__slider

	&__slider {
		background-color: var(--bgMain);
		padding: 24px 0;
		user-select: none;
		margin-bottom: 20px;
		@media (max-width: $tablet) {
			margin-bottom: 12px;
		}
	}

	// .our-partners__swiper

	&__swiper {
	}

	// .our-partners__slide

	&__slide {
		height: auto;
	}
	&__btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}
}

.sewera-info .slide-partner {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 24px;
	background-color: #fff;
	border-radius: 8px;
	padding: 24px;
	@media (max-width: $laptop_L) {
		padding: 24px 0;
	}
	// .slide-partner__img

	&__img {
		width: 129px;
		height: 129px;
		@media (max-width: $laptop_L) {
			width: 96px;
			height: 96px;
		}
	}

	// .slide-partner__name

	&__name {
		@include mainBigFS;
		font-weight: 700;
		text-wrap: nowrap;
	}
}
.contact-info {
	& .page-bl {
		@media (max-width: $laptop) {
			padding-right: 0;
		}
	}
	// .contact-info__slider

	&__slider {
	}

	// .contact-info__swiper

	&__swiper {
	}

	// .contact-info__slide

	&__slide {
		height: auto;
		&:nth-child(1) {
			background-color: var(--c-light-green);
		}
		&:nth-child(2) {
			background-color: var(--c-light-cream);
		}
		&:nth-child(3) {
			background-color: var(--bgMain);
		}
	}
}

.slide-contact-info {
	padding: 24px;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	row-gap: 36px;
	@media (max-width: $laptop_L) {
		padding: 20px;
		row-gap: 24px;
	}
	// .slide-contact-info__title

	&__title {
		font-weight: 700;
		@media (max-width: $tablet) {
			@include mainFS;
		}
	}

	// .slide-contact-info__item

	&__item {
		display: flex;
		flex-direction: column;
		row-gap: 8px;
	}

	// .slide-contact-info__small-title

	&__small-title {
		font-weight: 700;
		line-height: 1.2;
		@media (max-width: $laptop) {
			@include smallFS;
		}
	}

	// .slide-contact-info__link

	&__link {
		display: flex;
		align-items: center;
		column-gap: 8px;
		img {
			width: 14px;
			height: 14px;
		}
		@media (max-width: $laptop) {
			@include smallFS;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
