.sewera-info ul {
	margin-bottom: 0;
	margin-left: 0;
}
.sewera-info p {
	padding: 0;
}
.sewera-info .swiper-grid > .swiper-wrapper {
	flex-wrap: wrap;
}
.sewera-info a {
	@media (any-hover: hover) {
		&:hover {
			color: inherit;
		}
	}
}

.sewera-info .all-link-page {
	margin-bottom: 60px;
	margin-top: 24px;
	@media (max-width: $laptop) {
		margin-bottom: 40px;
	}

	// .all-link-page__item

	& .page-bl {
		@media (max-width: $laptop) {
			padding: 0 0;
		}
	}
	&__wrapper {
		@media (max-width: $laptop) {
			overflow-x: auto;
			display: flex;
		}
	}

	&__list {
		width: 100%;
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 5px;
		background-color: var(--bgMain);
		padding: 8px;
		border-radius: 8px;
		transition: background-color 0.3s ease 0s;
		@media (max-width: $laptop_L) {
		}
		@media (max-width: $laptop) {
			margin: 0 40px;
		}
		@media (max-width: $tablet) {
			margin: 0 15px;
		}
		@media (any-hover: hover) {
			&:hover ._active-page .all-link-page__link {
				background-color: var(--bgMain);
				color: $mainColor;
				font-weight: 400;
			}
		}
	}
	&__item {
		flex: 0 1 11.111%;
		text-align: center;
		&:nth-child(8) {
			width: 141px;
			flex: 0 0 141px;
		}
	}

	// .all-link-page__link

	&__link {
		text-wrap: nowrap;
		@include smallFS;
		padding: 8px 15px;
		width: 100%;
		height: 100%;
		display: inline-block;
		border-radius: 8px;
		transition: background-color 0.3s ease 0s;

		@media (max-width: $laptop_L) {
			padding: 8px 10px;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--mainColor) !important;
				color: #fff !important;
				border-radius: 8px !important;
				font-weight: 700 !important;
				padding: 8px 15px !important;
			}
		}
	}
}

.sewera-info .all-link-page ._active-page .all-link-page__link {
	padding: 8px 15px;
	background-color: var(--mainColor);
	font-weight: 700;
	color: #fff;
	border-radius: 8px;
	display: inline-block;
}
.sewera-info .about-us {
	// .about-us__title

	& .page-bl {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
		@media (max-width: $laptop_L) {
			row-gap: 24px;
		}
		@media (max-width: $laptop) {
			row-gap: 32px;
		}
	}
	&__title {
		font-family: Onest, sans-serif, Arial !important;
		font-size: 48px;
		line-height: 1.15;
		font-weight: 700;
		margin-bottom: 20px;
		@media (max-width: $laptop_L) {
			font-size: 44px;
		}
		@media (max-width: $laptop) {
			font-size: 36px;
			line-height: 1.2;
		}
		@media (max-width: $tablet) {
			font-size: 32px;
		}
	}

	// .about-us__text

	&__text {
		font-size: 24px;
		line-height: 1.35;

		font-weight: 700;
		max-width: 821px;
		@media (max-width: $laptop_L) {
			font-size: 22px;
		}
		@media (max-width: $laptop) {
			font-size: 20px;
			line-height: 1.25;
		}
		@media (max-width: $tablet) {
			font-size: 18px;
		}
	}

	// .about-us__items

	&__items {
		display: flex;
		gap: 32px;
		padding: 20px 0;
		@media (max-width: $laptop) {
			flex-direction: column;
			background-color: var(--bgMain);
			border-radius: 12px;
			padding: 24px;
		}
		@media (max-width: $tablet) {
			padding: 20px;
			gap: 24px;
		}
	} // .about-us__footer

	&__footer {
	}
}

.sewera-info .card-about {
	// .card-about__item

	&__item {
		flex: 0 1 33.333%;
	}

	// .card-about__title

	&__title {
		display: flex;
		align-items: center;
		column-gap: 12px;

		margin-bottom: 18px;
	}

	// .card-about__text

	&__text {
		@include mainBigFS;
		@media (max-width: $laptop_L) {
			@include mainBigFS-LLD;
		}
		@media (max-width: $tablet) {
			@include mainFS;
		}
	}
}

.sewera-info .footer-about {
	display: flex;
	gap: 24px;
	@media (max-width: $laptop) {
		gap: 20px;
	}
	@media (max-width: 429.98px) {
		flex-direction: column;
	}
	// .footer-about__card

	&__card {
		flex: 0 1 50%;
		display: flex;
		align-items: flex-start;
		gap: 24px;
		padding: 24px;
		border-radius: 12px;
		&:first-child {
			background-color: var(--с-light-beige);
		}
		&:last-child {
			background-color: var(--с-light-blue);
		}
		@media (max-width: $laptop_L) {
			padding: 20px;
		}
		@media (max-width: $laptop) {
			gap: 20px;
			@include smallFS;
		}
		@media (max-width: $tablet) {
			flex-direction: column-reverse;
			justify-content: flex-start;
		}
	}

	// .footer-about__text

	&__text {
		@media (max-width: $tablet) {
			flex: 1 1 auto;
		}
	}
}
.sewera-info .our-way {
	// .our-way__header

	&__header {
		margin-bottom: 72px;
		text-align: center;
		@media (max-width: $laptop_L) {
			margin-bottom: 64px;
		}
		@media (max-width: $laptop) {
			margin-bottom: 32px;
		}
	}

	// .our-way__title

	&__title {
		margin-bottom: 8px;
	}

	// .our-way__sub-title

	&__sub-title {
		font-size: 20px;
		line-height: 1.4;
		@media (max-width: $laptop_L) {
			@include mainBigFS-LLD;
		}
		@media (max-width: $laptop) {
			@include mainFS;
			br {
				display: none;
			}
		}
	}
	// .our-way__body

	&__body {
	}
}

.sewera-info .body-our-way {
	display: flex;

	@media (max-width: $laptop) {
		flex-direction: column-reverse;
	}
	// .body-our-way__contetn

	&__contetn {
		background-color: var(--bgMain);
		padding: 40px;
		border-radius: 12px;

		@media (max-width: $laptop_L) {
			padding: 24px;
		}
		@media (max-width: $laptop) {
			padding: 32px 20px;
		}
	}
	&__img,
	&__contetn {
		flex: 0 0 618px;

		@media (max-width: $laptop_L) {
			flex: 0 1 618px;
		}
		@media (max-width: $laptop) {
			flex: none;
		}
	}
	// .body-our-way__title

	&__title {
		margin-bottom: 24px;
		@media (max-width: $laptop) {
			margin-bottom: 20px;
		}
	}

	// .body-our-way__text

	&__text {
		max-width: 453px;
		&:not(:last-child) {
			margin-bottom: 40px;
		}
		@media (max-width: $laptop_L) {
			max-width: 389px;
			&:not(:last-child) {
				margin-bottom: 34px;
			}
		}
		@media (max-width: $laptop) {
			max-width: 100%;
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
		@media (max-width: $tablet) {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	// .body-our-way__img

	&__img {
		position: relative;
		top: -26px;
		right: 36px;
		@media (max-width: $laptop) {
			top: 0;
			right: 0;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 12px;
			@media (max-width: $laptop) {
				height: 387px;
			}
			@media (max-width: $tablet) {
				height: 240px;
			}
		}
	}
	&__img-text {
		background-color: #fff;
		padding: 4px 8px;
		position: absolute;
		border-radius: 8px;
		top: 20px;
		right: 20px;
		font-weight: 700;
		display: flex;
		align-items: center;
		column-gap: 8px;
		@include smallFS;
		line-height: 1;
		@media (max-width: $laptop) {
			font-size: 12px;
		}
		&::after {
			content: "";

			background: url("https://sewera.manager3.fvds.ru/srv/assets/images/info-page/icons/star-orange.svg") 0 0
				no-repeat;
			width: 20px;
			height: 20px;
			display: inline-block;
			@media (max-width: $laptop) {
				width: 16px;
				height: 16px;
				background-size: contain;
			}
		}
	}
}

.sewera-info .our-advantages {
	@media (max-width: $laptop) {
		display: none;
	}
	// .our-advantages__items

	&__items {
		display: flex;
		column-gap: 24px;
	}

	// .our-advantages__item
	&__item {
		flex: 0 1 25%;
		padding: 20px;
		border-radius: 12px;
		&:nth-child(1) {
			background-color: var(--c-light-green);
		}
		&:nth-child(2) {
			background-color: #c8ebff4d;
		}
		&:nth-child(3) {
			background-color: #ffe8de66;
		}
		&:nth-child(4) {
			background-color: #fff5c7b2;
		}
		img {
			margin-bottom: 20px;
		}
	}
}

.sewera-info .sewera-number {
	& .page-bl {
		@media (max-width: $tablet) {
			padding: 0;
			// padding-left: 20px;
		}
	}
	// .sewera-number__slider

	&__slider {
		@media (max-width: $tablet) {
			padding: 0 15px;
		}
	}

	// .sewera-number__swiper

	&__swiper {
		@media (max-width: $tablet) {
			padding-right: 15px;
		}
	}

	// .sewera-number__slide

	&__slide {
		background-color: var(--bgMain);
		border-radius: 12px;
		padding: 24px;
		height: auto;
		@media (max-width: $laptop_L) {
			padding: 20px;
		}
	}

	// .sewera-number__number

	&__number {
		font-size: 48px;
		line-height: 1.1;
		@media (max-width: $laptop_L) {
			font-size: 44px;
		}
		@media (max-width: $laptop) {
			font-size: 36px;
		}
		@media (max-width: $tablet) {
			font-size: 32px;
		}
	}
	&__number,
	&__name {
		color: var(--c-orange);
		font-weight: 700;
	}
	&__name {
		@include mainBigFS;
		margin-bottom: 24px;
		@media (max-width: $laptop_L) {
			margin-bottom: 20px;
		}
		@media (max-width: $laptop) {
			font-size: 16px;
			margin-bottom: 16px;
		}
	}
	// .sewera-number__text

	&__text {
		@media (max-width: $tablet) {
			@include smallFS;
		}
	}
}

.sewera-info .what-we-do {
	& .page-bl {
		@media (max-width: $laptop_L) {
			padding: 0 20px;
		}
	}
	// .what-we-do__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 40px;
		@media (max-width: $laptop_L) {
			gap: 24px;
		}
		@media (max-width: $laptop) {
			gap: 20px;
		}
	}
	&__row {
		gap: 40px;
		display: flex;
		@media (max-width: $laptop_L) {
			gap: 24px;
		}
		@media (max-width: $laptop) {
			gap: 20px;
		}
	}
	// .what-we-do__item

	&__item {
		@include mainBigFS;

		background-color: var(--bgMain);
		border-radius: 30px 30px 30px 2px;
		padding: 14px 24px;
		font-weight: 700;
		@media (max-width: $laptop_L) {
			padding: 13px 20px;
			@include mainBigFS-LLD;
		}
		@media (max-width: $laptop) {
			@include mainFS;
		}
		@media (max-width: $tablet) {
			@include smallFS;
		}
		&_orange {
			background-color: #fff6f2;
			color: var(--c-orange);
		}
	}
}
.sewera-info .our-partners {
	// .our-partners__header

	& .page-bl {
		@media (max-width: $laptop_L) {
			padding: 0;
		}
	}
	&__header {
		text-align: center;
		margin-bottom: 40px;
		@media (max-width: $laptop_L) {
			margin-bottom: 32px;
		}
	}

	// .our-partners__title

	&__title {
		margin-bottom: 20px;
		@media (max-width: $tablet) {
			margin-bottom: 12px;
		}
	}
	& .swiper-wrapper {
		transition-timing-function: linear !important; /* Делаем движение ровным */
	}
	// .our-partners__sub-title

	&__sub-title {
		@media (max-width: $laptop_L) {
			br {
				display: none;
			}
		}
		@media (max-width: $laptop) {
			@include mainBigFS-LLD;
		}
		@media (max-width: $tablet) {
			@include mainFS;
			br {
				display: block;
			}
		}
	}

	// .our-partners__slider

	&__slider {
		background-color: var(--bgMain);
		padding: 24px 0;
		user-select: none;
		margin-bottom: 40px;
		@media (max-width: $laptop_L) {
			margin-bottom: 32px;
		}
	}

	// .our-partners__swiper

	&__swiper {
		pointer-events: none;
	}

	// .our-partners__slide

	&__slide {
		height: auto;
	}
	&__btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		&::after {
			content: "";
			transform: translate(0px, -1px);
		}
	}
}

.sewera-info .slide-partner {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 24px;
	background-color: #fff;
	border-radius: 8px;
	padding: 24px;
	@media (max-width: $laptop_L) {
		padding: 24px 0;
	}
	// .slide-partner__img

	&__img {
		width: 129px;
		height: 129px;
		@media (max-width: $laptop_L) {
			width: 96px;
			height: 96px;
		}
	}

	// .slide-partner__name

	&__name {
		@include mainBigFS;
		font-weight: 700;
		text-wrap: nowrap;
	}
}
.sewera-info .contact-info {
	&_mx {
		margin: 60px 0;
	}
	& .page-bl {
		@media (max-width: $laptop) {
			padding: 0 0;
		}
	}
	// .contact-info__slider

	&__slider {
		@media (max-width: $tablet) {
			padding: 0 15px;
		}
	}

	// .contact-info__swiper

	&__swiper {
	}

	// .contact-info__slide

	&__slide {
		height: auto;
		&:nth-child(1) {
			background-color: var(--c-light-green);
		}
		&:nth-child(2) {
			background-color: var(--c-light-cream);
		}
		&:nth-child(3) {
			background-color: var(--bgMain);
		}
	}
}

.sewera-info .slide-contact-info {
	padding: 24px;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	row-gap: 36px;
	@media (max-width: $laptop_L) {
		padding: 20px;
		row-gap: 24px;
	}
	// .slide-contact-info__title

	&__title {
		font-weight: 700;
		@media (max-width: $tablet) {
			@include mainFS;
		}
	}

	// .slide-contact-info__item

	&__item {
		display: flex;
		flex-direction: column;
		row-gap: 8px;
	}

	// .slide-contact-info__small-title

	&__small-title {
		font-weight: 700;
		line-height: 1.2;
		@media (max-width: $laptop) {
			@include smallFS;
		}
	}

	// .slide-contact-info__link

	&__link {
		display: flex;
		align-items: center;
		column-gap: 8px;
		img {
			width: 14px;
			height: 14px;
		}
		@media (max-width: $laptop) {
			@include smallFS;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.sewera-info .form-back-info {
	padding-top: 90px;
	padding-bottom: 60px;
	&_pt-small {
		padding-top: 60px;
	}
	&::before {
		visibility: hidden;
	}
	@media (max-width: $laptop) {
		position: relative;
		padding-top: 148px;
		padding-bottom: 60px;
		&::before {
			content: "";
			visibility: visible;
			background: url("https://sewera.manager3.fvds.ru/srv/assets/images/info-page/form-img.png") 0 0 / 212px 127px
				no-repeat;
			width: 212px;
			height: 127px;
			position: absolute;
			top: 7px;
			left: 50%;
			transform: translate(-50%, 0px);
			@media (max-width: $laptop_L) {
				width: 222px;
				height: 141px;
				background-size: 222px 141px;
			}
		}
	}
	@media (max-width: $tablet) {
		padding-bottom: 48px;
	}

	// .form-back-info__wrapper

	&__wrapper {
		background-color: #bdc4ec4d;
		border-radius: 12px;
		padding: 30px 36px;
		@media (max-width: $laptop_L) {
			padding: 20px;
		}
		@media (max-width: $laptop) {
			padding: 30px 40px;
		}
	}

	// .form-back-info__title

	&__title {
		text-align: left;
		margin-bottom: 4px;
		@media (max-width: $laptop) {
			font-size: 20px;
			line-height: 1.3;
			margin-bottom: 20px;
			text-align: center;
		}
		@media (max-width: $tablet) {
			font-size: 18px;
		}
	}

	// .form-back-info__sub-title

	&__sub-title {
		margin-bottom: 20px;
		@media (max-width: $laptop) {
			text-align: center;
		}
		@media (max-width: $tablet) {
			@include mainFS;
		}
	}

	// .form-back-info__block-form

	&__block-form {
		display: flex;
		column-gap: 20px !important;
		margin-bottom: 10px;
		background-color: transparent !important;
		padding: 0 !important;
		@media (max-width: $laptop) {
			flex-direction: column;
			row-gap: 30px !important;
			margin-bottom: 20px;
		}
		input {
			flex: 0 1 33.333%;
			border: none;
			background-color: #fff;
			border-radius: 8px;
			padding: 15.5px 14px;
			&::placeholder {
				font-weight: 400;
				color: var(--mainColor);
				opacity: 0.5;
			}
			@media (max-width: $laptop) {
				flex: none;
			}
		}
	}

	// .form-back-info__btn

	&__btn {
		display: flex;
		align-items: center;
		flex: 0 1 33.333%;
		padding: 14.5px 14px;
		position: relative;
		&::after {
			transform: translateY(-0.5px);
		}
		&::before {
			content: "";
			background: url("https://sewera.manager3.fvds.ru/srv/assets/images/info-page/form-img.png") 0 0 / 212px 127px
				no-repeat;
			width: 212px;
			height: 127px;
			position: absolute;
			bottom: 49px;
			left: 50%;
			transform: translate(-50%, 0px);
			@media (max-width: $laptop_L) {
				width: 222px;
				height: 141px;
				background-size: 222px 141px;
			}
			@media (max-width: $laptop) {
				display: none;
			}
		}
		@media (max-width: $laptop) {
			flex: none;
			width: 100%;
		}
	}
}
.sewera-info .nav-block {
	display: inline-flex;
	justify-content: center;
	column-gap: 8px;
	background-color: var(--bgMain);
	padding: 8px;
	border-radius: 12px;
	transition: all 0.3s ease 0s;
	margin-bottom: 40px;
	@media (any-hover: hover) {
		&:hover .nav-block__btn-nav {
			background-color: var(--bgMain);
			color: var(--mainColor);

			border-radius: 8px;
		}
	}
	@media (max-width: $laptop_L) {
		margin-bottom: 32px;
	}
	@media (max-width: $tablet) {
		margin-bottom: 24px;
	}
	@media (max-width: 430px) {
		position: relative;
		left: 50%;
		transform: translate(-50%, 0px);
	}
	&__btn-nav {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 6px 23px;
		width: 100%;
		text-wrap: nowrap;
		transition: all 0.3s ease 0s;
		font-weight: 700;
		&._active-tab-map {
			background-color: var(--mainColor);
			color: #fff;
			border-radius: 8px;
		}
		@media (max-width: $tablet) {
			@include smallFS;
			padding: 6px 12px;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--mainColor) !important;
				background-color: var(--mainColor);
				color: #fff !important;
				border-radius: 8px;
				font-weight: 700 !important;
			}
		}
	}
}

.sewera-info .map-info {
	& .page-bl {
		text-align: center;
	}

	&__title {
		margin-bottom: 20px;
	}
	// .map-info__navigation

	&__navigation {
		display: inline-flex;
		margin-bottom: 20px;
	}
	&__text {
		margin-bottom: 20px;
		@media (max-width: $tablet) {
			@include smallFS;
			br {
				display: none;
			}
		}
	}
	// .map-info__block-map

	&__block-map {
		height: 500px;
		border-radius: 12px;
		border: 1px solid #bfcee0;
		& ymaps {
			border-radius: 12px;
		}
	}
}

.sewera-info .wrapper-social {
	& .title-section {
		font-size: 34px;
		line-height: 1.14;
		font-weight: 700;
		font-family: Onest, sans-serif, Arial !important;
		text-align: center;
		margin-bottom: 40px;
		@media (max-width: $laptop_L) {
			font-size: 32px;
			line-height: 1.25;
			margin-bottom: 32px;
		}
		@media (max-width: $laptop) {
			@include middleFS;
		}
		@media (max-width: $tablet) {
			@include middleFS-LD;
		}
	}
	& .tabs-section {
		padding: 0 !important;
		margin-bottom: 80px;
		@media (max-width: $laptop) {
			margin-bottom: 60px;
		}
		@media (max-width: $tablet) {
			margin-bottom: 48px;
		}
	}
}
.sewera-info .block-title-page {
	// .block-title-page__title

	&__title {
		text-align: left;
		margin-bottom: 24px;
		@media (max-width: $laptop) {
			margin-bottom: 20px;
		}
	}

	// .block-title-page__text

	&__text {
		font-weight: 700;
		line-height: 1.25;
		@media (max-width: $tablet) {
			@include smallFS;
		}
		@media (max-width: $laptop) {
			br {
				display: none;
			}
		}
	}
}
.sewera-info .options-our {
	margin-top: 60px;
	@media (max-width: $tablet) {
		margin-top: 48px;
	}
	// .options-our__items

	&__items {
		display: flex;
		column-gap: 36px;
		@media (max-width: $laptop_L) {
			column-gap: 24px;
		}
		@media (max-width: $laptop) {
			flex-direction: column;
			row-gap: 36px;
		}
	}
}
.sewera-info .card-option-our {
	flex: 0 1 33.333%;
	padding: 24px;
	border-radius: 12px;
	&_beige {
		background-color: var(--c-card-option-beige);
	}
	&_orange {
		background-color: var(--c-card-option-orange);
	}
	&_green {
		background-color: var(--c-card-option-green);
	}
	@media (max-width: $laptop) {
		flex: none;
	}
	// .card-option-our__item

	&__item {
		text-align: left;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		cursor: pointer;
		& img {
			margin-bottom: 36px;
		}
	}

	// .card-option-our__name

	&__name {
		font-weight: 700;
		margin-bottom: 12px;
		@media (max-width: $tablet) {
			@include mainFS;
		}
	}

	// .card-option-our__text

	&__text {
		flex: 1 1 auto;
		@media (max-width: $tablet) {
			font-size: 14px;
			line-height: 1.35;
		}
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		@media (max-width: $tablet) {
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
	}
	&__link-text {
		text-decoration: underline;
	}
	&__link {
		&::after {
			content: "";
			display: inline-block;
			background: url("https://sewera.ru/srv/assets/images/main/header/icons/arrowMenu.svg") 0 0 no-repeat;
			width: 10px;
			height: 6px;
			transform: translate(4px, -2px) rotate(270deg);
		}
		@media (max-width: $tablet) {
			font-size: 14px;
			line-height: 1.35;
		}
	}
}

.sewera-info .table-delivery {
	margin-top: 40px;
	margin-bottom: 40px;
	&__title {
		margin-bottom: 24px;
	}
	// .table-delivery__table

	&__table {
		background-color: var(--bgMain);
		padding: 20px;
		border-radius: 12px;
	}

	// .table-delivery__head

	&__head {
		margin-bottom: 10px;
		padding: 6px 30px;
		display: grid;
		column-gap: 30px;
		grid-template-columns: 63% 19% auto;
		@media (max-width: $laptop) {
			grid-template-columns: 50% 25% 20%;
			padding: 6px 25px;
			justify-content: space-between;
			column-gap: 20px;
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}
	// .table-delivery__haed-name

	&__haed-name {
		flex: 0 1 721px;
	}

	// .table-delivery__haed-price

	&__haed-price {
		flex: 1 0 228px;
	}

	// .table-delivery__body

	&__body {
		background-color: #fff;
		border-radius: 8px;
		padding: 10px;
		display: flex;
		flex-direction: column;
		row-gap: 8px;
	}

	// .table-delivery__item

	&__item {
		padding: 15px 20px;
		&:nth-child(even) {
			background-color: var(--bgMain);
			border-radius: 8px;
		}
		@media (max-width: $laptop) {
			padding: 10px 15px;
		}
		@media (max-width: $tablet) {
			padding: 5px 10px;
		}
	}
}

.sewera-info .item-table {
	display: grid;
	column-gap: 30px;
	grid-template-columns: 63% 19% auto;

	@media (max-width: $laptop) {
		column-gap: 20px;
		grid-template-columns: 50% 25% 20%;
		justify-content: space-between;
	}
	@media (max-width: $tablet) {
		display: flex;
		flex-direction: column;
		row-gap: 5px;
	}
	// .item-table__name

	&__name {
		@media (max-width: $tablet) {
			@include smallFS;
		}
	}

	// .item-table__price

	&__price {
		font-weight: 700;
		text-wrap: nowrap;
		@media (max-width: $tablet) {
			@include smallFS;
		}
	}

	// .item-table__btn

	&__btn {
		font-weight: 700;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		column-gap: 8px;

		&::after {
			content: "";
			background: url("https://sewera.manager3.fvds.ru/srv/assets/images/info-page/icons/arrow-orange.svg") 0 0
				no-repeat;
			width: 12px;
			height: 12px;
		}
		@media (max-width: $tablet) {
			justify-content: flex-start;
			margin-top: 10px;
		}
	}
}
.sewera-info .delivery-period {
	margin-bottom: 40px;
	// .delivery-period__title

	&__title {
		margin-bottom: 24px;
	}
	&__wrapper {
		display: flex;
		background-color: var(--bgMain);
		border-radius: 12px;
		padding: 24px;
		justify-content: space-between;
		@media (max-width: $laptop_L) {
			padding: 20px;
		}
		@media (max-width: $laptop) {
			flex-direction: column;
			row-gap: 15px;
		}
		@media (max-width: $tablet) {
			@include smallFS;
		}
	}
	// .delivery-period__text

	&__text {
		flex: 0 1 33.333%;
		padding-right: 64px;
		border-right: 1px solid #ced8e3;
		&:nth-child(2) {
			padding-left: 64px;
		}
		@media (max-width: $laptop) {
			border: none;
			padding-right: 0;
			border-bottom: 1px solid #ced8e3;
			padding-bottom: 15px;
			&:nth-child(2) {
				padding-left: 0;
			}
		}
	}

	// .delivery-period__list-time

	&__list-time {
		padding-left: 64px;
		flex: 0 1 33.333%;
		@media (max-width: $laptop) {
			border: none;

			padding-left: 0;
		}
	}
}
.sewera-info .delivery-method {
	margin-bottom: 40px;
	// .delivery-method__title

	&__title {
		margin-bottom: 24px;
	}

	// .delivery-method__itmes

	&__itmes {
		display: flex;
		gap: 24px;
		@media (max-width: $tablet) {
			flex-direction: column;
		}
	}

	// .delivery-method__item

	&__item {
		background-color: var(--bgMain);
		border-radius: 12px;
		flex: 0 1 50%;
		padding: 24px;
		display: flex;
		column-gap: 20px;
		align-items: center;
		@media (max-width: $laptop_L) {
			padding: 20px;
		}
		@media (max-width: $laptop) {
			align-items: flex-start;
		}
	}

	// .delivery-method__icon

	&__icon {
		flex: 0 0 52px;
		height: 52px;
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 8px;
	}

	// .delivery-method__contetn

	&__contetn {
	}

	// .delivery-method__name

	&__name {
		font-weight: 700;
		margin-bottom: 4px;
		@media (max-width: $tablet) {
			font-size: 16px;
			line-height: 1.3;
		}
	}

	// .delivery-method__text

	&__text {
		@media (max-width: $tablet) {
			@include smallFS;
		}
	}
}
.map-delivery {
	margin-bottom: 40px;
	// .map-delivery__title

	&__title {
		margin-bottom: 24px;
	}

	// .map-delivery__wrapper

	&__wrapper {
		background-color: var(--bgMain);
		border-radius: 12px;
		padding: 20px;
	}
	&__hint {
		margin-bottom: 20px;
		font-weight: 700;
		@media (max-width: $tablet) {
			@include smallFS;
		}
	}
	// .map-delivery__map

	&__map {
		width: 100%;
		height: 500px;
	}
}

.sewera-info .popup {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease 0s;
	&.popup_show {
		visibility: visible;
		opacity: 1;
	}
	&::before {
		content: "";
		position: fixed;
		background-color: var(--mainColor);
		opacity: 0.5;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&__warapper {
		background-color: var(--bgMain);
		padding: 24px;
		border-radius: 12px;
		position: relative;
		z-index: 3;
		max-width: 540px;
		width: 100%;
		text-align: left;
	}
}

.sewera-info .oplata-popup {
	position: relative;
	z-index: 111111;
	&__close-btn {
		position: absolute;
		right: -19px;
		background-color: transparent;
		z-index: 1111;
		top: -10px;
		width: 17px;
		height: 17px;
		@media (max-width: $tablet) {
			right: 3px;
			top: -17px;
		}
		&::after,
		&::before {
			content: "";
			width: 17px;
			height: 3px;
			background-color: #fff;
			position: absolute;
			border-radius: 12px;
			top: 0;
			right: 0;
		}
		&::before {
			transform: rotate(-45deg);
		}
		&::after {
			transform: rotate(45deg);
		}
	}
	// .popup__title

	&__title {
		margin-bottom: 24px;
	}

	// .popup__contetn

	&__contetn {
		&_mb {
			margin-bottom: 24px;
		}
	}

	// .popup__name-contetn

	&__name-contetn {
		font-weight: 700;
		font-size: 20px;
		line-height: 1.3;
		margin-bottom: 8px;
	}

	// .popup__text-contetn

	&__text-contetn {
	}
	img {
		margin-top: 80px;
	}
	&__name-list {
		margin-bottom: 8px;
	}
	// .oplata-popup__list

	&__list {
		margin-bottom: 0;
		li {
			list-style: decimal;
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
	}
}
