.all-link-page {
	@extend %smallFS;
	background-color: var(--bgMain);
	border-radius: 8px;
	display: flex;
	justify-content: space-between;

	padding: 8px;
	column-gap: 35px;

	// .all-link-page__item

	&__item {
		flex: 0 1 11.111%;
		padding: 8px 0;
		text-align: center;
		&._active-page {
			background-color: var(--mainColor);
			font-weight: 700;
			color: #fff;
			border-radius: 8px;
		}
	}

	// .all-link-page__link

	&__link {
		text-wrap: nowrap;
	}
}
