body.no-scroll {
	overflow: hidden;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}
.inst-gallery {
	font-family: "Onest", Arial, Helvetica, sans-serif;
	& .page-bl {
		@media (max-width: $laptop) {
			padding: 0;
			padding-left: 40px;
		}
		@media (max-width: $tablet) {
			padding-left: 15px;
		}
	}
	// .inst-gallery__slider

	&__slider {
		@media (max-width: $laptop) {
			padding: 40px;
		}
		@media (max-width: $tablet) {
			padding: 15px;
		}
	}

	// .inst-gallery__swiper

	&__swiper {
	}

	// .inst-gallery__slide

	&__slide {
		width: 160px;
		height: 160px;
		display: flex;
		justify-content: flex-end;
	}

	// .inst-gallery__img

	&__img {
		flex: 0 0 160px;
		cursor: pointer;
		img {
			border-radius: 12px;
			padding: 2px;
			border: 2px solid #ff6701;
			&._viewed {
				border-color: transparent;
			}
		}
	}
	// .inst-gallery__text

	&__text {
		position: absolute;
		bottom: 16px;
		left: 16px;
		font-weight: 800;
		color: #fff;
	}
}

.inst-form {
	// .inst-form__content

	&__content {
		color: #fff;
	}
}

.inst-form .discount-category {
	display: flex;
	flex-direction: column;
	// .discount-category__title
	&__big-title,
	&__title {
		text-align: left;
		font-size: 20px;
		line-height: 1.35;
		font-weight: 700;
		margin-bottom: 10px;
	}
	&__big-title {
		text-align: center;
		font-size: 32px;
		line-height: 1.2;
		margin-bottom: 20px;
	}
	// .discount-category__list

	&__list {
		margin: 0;
		width: 100%;
		flex: 1 1 100%;
	}

	// .discount-category__item

	&__item {
		&:not(:last-child) {
			border-bottom: 1px solid #ffffff69;
		}
		&._fixed {
			&:not(:last-child) {
				border-color: hsla(0, 0%, 100%, 0.23);
			}
		}
	}
	&__submit,
	&__btn-next {
		margin-top: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-weight: 600;
		border-radius: 12px;
		width: 100%;
		height: 60px;
		flex: 0 0 60px;
		cursor: pointer;
		background-color: var(--mainColor);
	}
	&__btn-next {
		column-gap: 8px;
		opacity: 0.5;
		transition: all 0.4s ease 0s;
		&::after {
			content: "";
			transition: all 0.4s ease 0s;
			width: 20px;
			height: 20px;
			flex: 0 0 20px;
			background-size: 20px 20px;
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
		&_arrow {
			opacity: 1;
			&::after {
				background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjEiIGhlaWdodD0iNjAiIHZpZXdCb3g9IjAgMCA2MSA2MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzLjAwMSAyOS45OThINDguMDAxTTQ4LjAwMSAyOS45OThMMzAuNTAxIDEyLjQ5OE00OC4wMDEgMjkuOTk4TDMwLjUwMSA0Ny40OTgiIHN0cm9rZT0id2hpdGUiIHN0eWxlPSJzdHJva2U6d2hpdGU7c3Ryb2tlLW9wYWNpdHk6MTsiIHN0cm9rZS13aWR0aD0iNiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=");
			}
		}
	}
	&__submit {
		margin-top: 0px;
		background-color: #0db25a;
	}
	// .discount-category__list-selected

	&__list-selected {
		flex: 1 1 100%;
		margin: 0;
		margin-top: 10px;
	}

	// .discount-category__form

	&__form {
	}
}
.inst-form .discount-category-success {
	text-align: center;
	justify-content: center;
}
.item-disc {
	transition: all 0.4s ease 0s;
	._fixed & {
		opacity: 0.5;
		pointer-events: none;
	}
	&._seleced {
		opacity: 1;
		pointer-events: all;
	}
	&__label {
		display: flex;
		align-items: center;
		column-gap: 8px;
		line-height: 1.2;
		position: relative;
		width: 100%;
		padding: 12px 0px;
		&::after,
		&::before {
			content: "";

			position: absolute;
			top: 50%;
			right: 0;
			border-radius: 4px;
			transform: translate(0px, -50%);
			transition: all 0.3s ease 0s;
		}
		&::before {
			width: 20px;
			height: 20px;
			background-color: #fff;
		}
		&::after {
			right: 3px;
			background-position: 50% 50%;
			background-size: 14px 14px;
			background-repeat: no-repeat;
			width: 14px;
			height: 14px;
		}
		&:has(input:checked)::before {
			background-color: #0db25a;
		}
		&:has(input:checked)::after {
			background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyOCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTMuMDAxOTUgOC45OTgwNUwxMS4wMDIgMTYuOTk4TDI1LjAwMiAyLjk5ODA1IiBzdHJva2U9IndoaXRlIiBzdHlsZT0ic3Ryb2tlOndoaXRlO3N0cm9rZS1vcGFjaXR5OjE7IiBzdHJva2Utd2lkdGg9IjYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K");
		}
	}

	// .item-disc__checkbox

	&__checkbox {
		&:checked + .item-disc__discount {
			background-color: #0db25a;
		}
	}

	// .item-disc__icon

	&__icon {
		display: flex;
	}

	// .item-disc__discount

	&__discount {
		font-size: 14px;
		flex: 0 0 30px;
		padding: 4px;
		border-radius: 4px;
		background-color: #f0f4f926;
		transition: all 0.3s ease 0s;
		margin-left: 30px;
		& span {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	// .item-disc__name

	&__name {
	}
}

.discount-category .item-selected {
	position: relative;
	background-color: #ffffff33;
	border-radius: 24px;
	padding: 6px 12px;
	display: inline-flex;
	align-items: center;
	column-gap: 8px;
	// .item-selected__discount
	&:not(:last-child) {
		margin-bottom: 8px;
	}
	&__discount {
		column-gap: 8px;
		font-size: 14px;
		display: flex;
		align-items: center;

		&::before {
			content: "";
			left: 3px;
			position: static;
			transform: translate(0px, 0px);
			display: inline-block;
		}
		span {
			display: flex;
			justify-content: center;
			background-color: #0db25a;
			border-radius: 4px;
			padding: 2px 4px;
			flex: 0 0 30px;
		}
	}

	// .item-selected__name

	&__name {
	}
}

.discount-category .form-discount-category {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	// .form-discount-category__block-input

	text-align: left;
	&__block-input {
		& label {
			margin-bottom: 8px;
			display: inline-block;
			font-size: 18px;
		}
	}

	// .form-discount-category__input

	&__input {
		border-radius: 12px;
		background-color: #fff;
		border-bottom: none;
		padding: 15px;
		&::placeholder {
			color: var(--mainColor);
			opacity: 0.5;
			font-weight: 400;
		}
	}

	// .form-discount-category__agreements-data

	&__agreements-data {
		a {
			color: #fff;
			text-decoration: underline;
		}
	}
}

._IcSeptick,
._IcuKladka-dorozhek,
._IcBurenie-skvazhin,
._IcRaschistka-uchastka,
._IcSistema-ochistki,
._IcDemontaj-snos,
._IcLivnevaya-kanalizaciya,
._IcOzelenenie,
._IcAvtopoliv {
	&::before {
		content: "";
		background-position: 50% 50%;
		background-size: 20px 20px;
		background-repeat: no-repeat;
		position: absolute;
		top: 50%;
		transform: translate(0px, -50%);
		left: -1px;
		width: 25px;
		height: 25px;
	}
}
._IcSeptick {
	&::before {
		background-image: url("https://sewera.manager3.fvds.ru/srv/assets/images/main/stories/discount-icon/septick.svg");
	}
}
._IcuKladka-dorozhek {
	&::before {
		background-image: url("https://sewera.manager3.fvds.ru/srv/assets/images/main/stories/discount-icon/ukladka-dorozhek.svg");
	}
}
._IcBurenie-skvazhin {
	&::before {
		background-image: url("https://sewera.manager3.fvds.ru/srv/assets/images/main/stories/discount-icon/burenie-skvazhin.svg");
	}
}
._IcRaschistka-uchastka {
	&::before {
		background-image: url("https://sewera.manager3.fvds.ru/srv/assets/images/main/stories/discount-icon/Raschistka-uchastka.svg");
	}
}
._IcSistema-ochistki {
	&::before {
		background-image: url("https://sewera.manager3.fvds.ru/srv/assets/images/main/stories/discount-icon/sistema-ochistki.svg");
	}
}
._IcDemontaj-snos {
	&::before {
		background-image: url("https://sewera.manager3.fvds.ru/srv/assets/images/main/stories/discount-icon/demontaj-snos.svg");
	}
}
._IcLivnevaya-kanalizaciya {
	&::before {
		background-image: url("https://sewera.manager3.fvds.ru/srv/assets/images/main/stories/discount-icon/Livnevaya-kanalizaciya.svg");
	}
}
._IcOzelenenie {
	&::before {
		background-image: url("https://sewera.manager3.fvds.ru/srv/assets/images/main/stories/discount-icon/ozelenenie.svg");
	}
}
._IcAvtopoliv {
	&::before {
		background-image: url("https://sewera.manager3.fvds.ru/srv/assets/images/main/stories/discount-icon/avtopoliv.svg");
	}
}
/* 
==============================================================================================================================================
 ==============================================================================================================================================
 ==============================================================================================================================================
*/

.inst-story {
	font-family: "Onest", Arial, Helvetica, sans-serif;
	// .inst-story__content

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		row-gap: 20px;
		a {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: #fff;
			font-weight: 600;
			border-radius: 12px;
			width: 100%;
			height: 60px;
			position: relative;
			z-index: 10000000;
			cursor: pointer;
		}
	}

	// .inst-story__title
	&__content-text {
		color: #fff;
	}
}
.inst-gallery-full {
	// .inst-gallery-full__nav

	&__nav {
	}

	// .inst-gallery-full__next
	&__next,
	&__back {
		display: flex;
		justify-content: center;
		align-items: center;

		background-color: rgba(255, 255, 255, 0.1);
		width: 60px;
		height: 60px;
		position: absolute;
		top: 50%;
		border-radius: 50%;
		transform: translate(0px, -50%);
		transition: all 0.3s ease 0s;
		cursor: pointer;
		&::before {
			content: "";

			width: 60px;
			height: 60px;
			-webkit-box-flex: 0;
			-ms-flex: 0 0 60px;
			flex: 0 0 60px;

			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: 20px 20px;
			// background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgM0w1IDdMOSAzIiBzdHJva2U9IiNmZmYiICBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
		}
		@media (max-width: 460px) {
			display: none;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: transparent;
			}
		}
	}
	&__back {
		left: -25%;

		&::before {
			background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAuMDYwNTQ3IiBoZWlnaHQ9IjE2LjAwODMwMSIgdmlld0JveD0iMCAwIDIwLjA2MDUgMTYuMDA4MyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+DQoJCQkJCTxkZWZzPjwvZGVmcz4NCgkJCQkJPHBhdGggaWQ9IlZlY3RvciIgZD0iTTguMjU5NzcgMS4wMDQxNUwxLjA2MDU1IDguMDA0MTVMOC4yNTk3NyAxNS4wMDQyTTEuMDYwNTUgOC4wMDQxNUwxOS4wNjA1IDguMDA0MTUiIHN0cm9rZT0nI2ZmZicgc3Ryb2tlLW9wYWNpdHk9IjEuMDAwMDAwIiBzdHJva2Utd2lkdGg9IjIuMDAwMDAwIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48L3BhdGg+DQoJCQkJPC9zdmc+");
		}
		@media (max-width: $tablet) {
			left: -13%;
		}
	}
	// .inst-gallery-full__back

	&__next {
		right: -25%;
		&::before {
			background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAuMDYwNTQ3IiBoZWlnaHQ9IjE2LjAwODMwMSIgdmlld0JveD0iMCAwIDIwLjA2MDUgMTYuMDA4MyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+DQoJCQkJCTxkZWZzPjwvZGVmcz4NCgkJCQkJPHBhdGggaWQ9IlZlY3RvciIgZD0iTTExLjgwMDggMS4wMDQxNUwxOSA4LjAwNDE1TDExLjgwMDggMTUuMDA0Mk0xOSA4LjAwNDE1TDEgOC4wMDQxNSIgc3Ryb2tlPScjZmZmJyBzdHJva2Utb3BhY2l0eT0iMS4wMDAwMDAiIHN0cm9rZS13aWR0aD0iMi4wMDAwMDAiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjwvcGF0aD4NCjwvc3ZnPg==");
		}
		@media (max-width: $tablet) {
			right: -13%;
		}
	}
}

.inst-gallery * {
	box-sizing: border-box;
	text-align: left;
}
.inst-gallery-full {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1500;
	background-color: rgba(16, 41, 56, 0.9);
	display: flex;
	justify-content: center;
	user-select: none;
}
.inst-gallery-full .swiper-wrapper {
	pointer-events: none;
}
.inst-gallery-full .swiper-slide {
	pointer-events: fill;
}
.inst-gallery-full__close {
	position: absolute;
	right: 0px;
	top: 16px;
	width: 59px;
	height: 59px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	fill: white;

	user-select: none;
	z-index: 5;
}
.inst-gallery-full__container {
	display: flex;
	align-items: center;
	justify-content: center;

	gap: 4px;
	position: relative;
}

.inst-gallery-full__slider {
	position: relative;
	&::before {
		content: "";
		background: url("https://sewera.manager3.fvds.ru/srv/assets/images/main/stories/logo.svg") 0 0 / 105px 24px
			no-repeat;
		width: 105px;
		position: absolute;
		top: 34px;
		left: 20px;
		z-index: 10;
		height: 24px;
	}
	@media (max-width: 460px) {
		&::before {
			left: 16px;
			top: 40px;
		}
	}
}
.inst-gallery-full__navigation {
	display: flex;
	margin-bottom: 20px;
	gap: 3px;
	position: absolute;
	width: 100%;
	padding: 10px 20px;
	z-index: 10;
	left: 50%;
	transform: translate(-50%, 0px);
	top: 13px;
}
.inst-gallery-full__navigation-line {
	width: 100%;
	height: 2px;
	overflow: hidden;
	display: flex;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 999px;
}
.inst-gallery-full__navigation-line-progress {
	width: 0%;
	height: 100%;
	background-color: #fff;
}
.inst-gallery-full__swiper .swiper-slide {
	border-radius: 8px;
	overflow: hidden;
	// background-color: #1e1e1e;
	transform: scale(1);
}
.inst-gallery-full__swiper .swiper-wrapper {
	height: 100%;
}
.inst-gallery-full__volume svg {
	fill: white;
}
.inst-form {
	background-color: #574ae9;
}
.insta-form,
.inst-story {
	display: flex;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 8px;
	justify-content: center;
	position: relative;
}
.inst-story:after,
.inst-story__img {
	width: 100%;
	height: 100%;
	position: absolute;
}
.inst-story:after {
	content: "";
	display: block;
	z-index: 5;
	background: linear-gradient(360deg, rgba(0, 0, 0, 0) 88.42%, rgba(0, 0, 0, 0.4) 100%);
	pointer-events: none;
	transform-style: preserve-3d;
	transform: translateZ(100px);
}
.inst-story__error,
.inst-story__img {
	top: 0;
	-webkit-transform-style: preserve-3d;
}
.inst-story__img {
	object-fit: cover;
	z-index: 0;
	left: 0;
	transform-style: preserve-3d;
	transform: translateZ(-100px);
}

.inst-gallery-full__swiper {
	border-radius: 12px;
	height: calc(100vh - 20px);
	margin: 10px 0;
	max-height: 675px;
	max-width: 380px;
	width: 55vh;

	overflow: hidden !important;
}

@media screen and (min-width: 460px) {
	.inst-form {
		border-radius: 0;
	}

	.inst-gallery-full__swiper .swiper-slide {
		transition:
			opacity 0.3s,
			transform 0.3s,
			transform-origin 0.3s !important;
		width: 100%;
		height: 100%;
	}
	.swiper-slide_not-visible {
		opacity: 0;
		transform: scale(0) !important;
	}
	.swiper-slide_left-step-1 {
		opacity: 0.44;
		transform: scale(0.6687) !important;
		transform-origin: 0 50%;
	}
	.swiper-slide_left-step-2 {
		opacity: 0.15;
		transform: scale(0.5294) translateX(calc(-1 * var(--insta-gallery-slide-width) * 0.6687)) !important;
		transform-origin: 0 50%;
	}
	.swiper-slide_right-step-1 {
		opacity: 0.44;
		transform: scale(0.6687) !important;
		transform-origin: 100% 50%;
	}
	.swiper-slide_right-step-2 {
		opacity: 0.15;
		transform: scale(0.5294) translateX(calc(var(--insta-gallery-slide-width) * 0.6687)) !important;
		transform-origin: 100% 50%;
	}
}
@media screen and (max-width: 1200px) {
	.insta-gallery__title {
		font-size: 26px;
		margin-bottom: calc(32px / 2);
		line-height: 120%;
	}
	.insta-gallery__swiper .swiper-slide {
		width: 182px;
		height: 332px;
	}
	.insta-gallery__left-arrow {
		margin-right: 11px;
		width: 31px;
		height: 31px;
	}
	.insta-gallery__right-arrow {
		margin-left: 11px;
		width: 31px;
		height: 31px;
	}
	.insta-gallery__image-text {
		font-size: 18px;
		line-height: 22px;
	}

	.inst-gallery-full__sound {
		width: 50px;
		height: 38px;
	}
}
@media screen and (max-width: 1023px) {
	.insta-gallery__title {
		font-size: 24px;
		margin-bottom: calc(32px / 2);
		line-height: 130%;
	}
	.insta-gallery__swiper {
		overflow: visible !important;
	}

	.inst-gallery-full__sound {
		width: 47px;
		height: 36px;
	}
	.inst-gallery-full__sound svg {
		width: 30px;
		height: 18px;
	}
}

.inst-story__button {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	opacity: 0;
	display: block;
	top: 0;
	left: 0;
	transform-style: preserve-3d;
	transform: translateZ(100px);
}

.inst-gallery-full__navigation-line-progress {
	transition: width 0.1s linear;
}
.inst-story__icon-logo {
	width: 105px;
	position: absolute;
	top: 35px;
	left: 20px;
	z-index: 10;

	height: auto;
}

@media screen and (max-width: 460px) {
	.insta-gallery__title {
		margin-bottom: calc(30px / 2);
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
	}
	.insta-gallery__swiper .swiper-slide {
		width: 215px;
		height: 391px;
	}
	.inst-gallery-full__volume-button {
		display: flex;
	}
	.inst-gallery-full:before {
		display: block;
		content: "";
		width: 100%;
		height: 64px;
		position: absolute;
		z-index: 4;
		left: 0;
		top: 0;
		pointer-events: none;
	}

	.inst-gallery-full__container {
		width: 100%;
		margin-top: 0;
	}
	.inst-gallery-full__navigation {
		position: absolute;
		z-index: 10;
		top: 20px;
		left: 0;
		width: 100%;
		margin-bottom: 0;
		padding: 10px 15px;
		transform: translate(0px, 0px);
	}
	.inst-gallery-full__swiper {
		width: 100vw;
		height: 100dvh;
		max-width: 100%;
		max-height: 100%;
		border-radius: 0;
	}
	.inst-gallery-full__close {
		background: #00000000;
		top: 28px;
		right: 2px;
		width: 45px;
		height: 45px;
	}
	.inst-gallery-full__close svg {
		width: 17px;
		height: 17px;
	}

	.inst-gallery-full__swiper .swiper-slide,
	.inst-story {
		border-radius: 0;
	}
	.inst-story__icon-logo {
		top: 21px;
		left: 16px;
	}
}
.inst-form__content,
.inst-story__content {
	position: relative;
	z-index: 10;
	width: 100%;
	// height: 100%;

	padding: 20px;
	display: flex;
	align-items: flex-end;
	img {
		vertical-align: bottom;
	}
}
.inst-form__content {
	padding-top: 65px;
	align-items: stretch;
	text-align: left;
	flex-direction: column;
	align-items: flex-start;
}

._copy {
	background-color: #fff;
	border-radius: 8px;
	display: inline-flex;
	align-items: center;
	column-gap: 8px;
	padding: 0px 4px;
	position: relative;
	color: var(--mainColor);
	z-index: 11111111111111111;
	font-family: "Onest", Arial, Helvetica, sans-serif;
	cursor: pointer;
	&::after {
		content: "";

		width: 25px;
		height: 25px;
		background-size: 25px 25px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDMwSDhDNi45MzkxMyAzMCA1LjkyMTcyIDI5LjU3ODYgNS4xNzE1NyAyOC44Mjg0QzQuNDIxNDMgMjguMDc4MyA0IDI3LjA2MDkgNCAyNlY4QzQgNi45MzkxMyA0LjQyMTQzIDUuOTIxNzIgNS4xNzE1NyA1LjE3MTU3QzUuOTIxNzIgNC40MjE0MyA2LjkzOTEzIDQgOCA0SDI2QzI3LjA2MDkgNCAyOC4wNzgzIDQuNDIxNDMgMjguODI4NCA1LjE3MTU3QzI5LjU3ODYgNS45MjE3MiAzMCA2LjkzOTEzIDMwIDhWMTBNMjIgMThINDBDNDIuMjA5MSAxOCA0NCAxOS43OTA5IDQ0IDIyVjQwQzQ0IDQyLjIwOTEgNDIuMjA5MSA0NCA0MCA0NEgyMkMxOS43OTA5IDQ0IDE4IDQyLjIwOTEgMTggNDBWMjJDMTggMTkuNzkwOSAxOS43OTA5IDE4IDIyIDE4WiIgc3Ryb2tlPSIjMTAyOTM4IiBzdHlsZT0ic3Ryb2tlOiMxMDI5Mzg7c3Ryb2tlOmNvbG9yKGRpc3BsYXktcDMgMC4wNjIwIDAuMTYyNiAwLjIxODMpO3N0cm9rZS1vcGFjaXR5OjE7IiBzdHJva2Utd2lkdGg9IjQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K");
	}
}
._decor-line {
	position: static !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex: none !important;
	&::before {
		content: "";
		position: absolute;
		width: 380px;
		height: 680px;
		top: 95px;
		left: 0;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxNzAyIiB2aWV3Qm94PSIwIDAgMTA4MCAxNzAyIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8ZWxsaXBzZSBvcGFjaXR5PSIwLjQiIGN4PSIzOTguMDM3IiBjeT0iOTc1LjE2OSIgcng9IjEwODMuNzUiIHJ5PSI2NzQuMDAxIiB0cmFuc2Zvcm09InJvdGF0ZSgtNTUuNzcyNSAzOTguMDM3IDk3NS4xNjkpIiBzdHJva2U9IndoaXRlIiBzdHlsZT0ic3Ryb2tlOndoaXRlO3N0cm9rZS1vcGFjaXR5OjE7IiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+Cg==");
	}
}
