.sewera-serarch .serarch-tabs {
	padding-top: 20px;
	// .serarch-tabs__wrapper-nav

	&__wrapper-nav {
		display: flex;
		gap: 12px;
		align-items: center;
		margin-bottom: 40px;
		@media (max-width: $tablet) {
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 24px;
		}
	}

	// .serarch-tabs__text-nav

	&__text-nav {
		font-weight: 700;
		font-size: 20px;
		line-height: 130%;
	}

	// .serarch-tabs__navigation

	&__navigation {
		display: flex;
		column-gap: 12px;
		@media (max-width: 429.98px) {
			font-size: 14px;
			column-gap: 6px;
		}
	}

	// .serarch-tabs__title

	&__title {
		padding: 8px 12px;
		display: flex;
		align-items: center;
		background-color: $bgColor;
		border-radius: 8px;
		line-height: 150%;
		transition: all 0.3s ease 0s;

		@media (max-width: 429.98px) {
			padding: 8px;
		}
		span {
			margin-right: 4px;
		}
		svg {
			margin-left: 8px;
		}
		svg path {
			transition: all 0.3s ease 0s;
		}
		&._tab-active {
			background-color: #102938;
			color: #fff;
		}
		&:nth-child(1) {
			&._tab-active svg path {
				fill: #ffb306;
			}
		}
		&:nth-child(2) {
			&._tab-active svg path {
				fill: #0db25a;
			}
		}
		&:nth-child(3) {
			&._tab-active svg path {
				fill: #ff6701;
			}
		}
	}

	// .serarch-tabs__content

	&__content {
	}

	// .serarch-tabs__body

	&__body {
		display: grid;
		flex-wrap: wrap;
		row-gap: 20px;
		column-gap: 20px;
		grid-template-columns: calc(33.333% - 20px) calc(33.333% - 20px) 33.33%;

		@media (max-width: $laptop) {
			grid-template-columns: calc(50%) calc(50% - 20px);
		}
		@media (max-width: $tablet) {
			gap: 24px;
			grid-template-columns: 100%;
		}
		//  serarch-tabs__body_product
		&_product {
			display: flex;
			flex-wrap: wrap;
			border: 1px solid #e8eaec;
			margin: 0;
			gap: 0;
			margin-bottom: 60px;
			@media (max-width: $tablet) {
				border-bottom: none;
			}
		}
	}
	// .serarch-tabs__card
	&__article-card,
	&__card {
		border-radius: 8px;
		background-color: $bgColor;
	} // .serarch-tabs__product-card

	&__product-card {
		width: calc(25%);
		border-right: 1px solid #e8eaec;
		border-bottom: 1px solid #e8eaec;
		&:nth-child(4n) {
			border-right: none;
		}
		@media (max-width: 1279.98px) {
			width: 33.333%;
			&:nth-child(3n) {
				border-right: none;
			}
			&:nth-child(4n) {
				border-right: 1px solid #e8eaec;
			}
		}
		@media (max-width: $laptop) {
			width: 50%;
			&:nth-child(2n) {
				border-right: none;
			}
			&:nth-child(3n) {
				border-right: 1px solid #e8eaec;
			}
		}
		@media (max-width: $tablet) {
			width: 100%;
			border-right: none;
			&:nth-child(3n) {
				border-right: none;
			}
		}
	}
	// .serarch-tabs__article-card

	&__article-card {
	}
}

.sewera-serarch .article-card {
	// .article-card__img

	&__img {
		height: 220px;
		display: block;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 8px;
		}
	}

	// .article-card__body

	&__body {
		padding: 16px;
	}

	// .article-card__tag

	&__tag {
		margin-bottom: 23px;
		font-size: 14px;
		display: flex;
		align-items: center;
		column-gap: 8px;
		&::before {
			content: "";
			transform: translateY(-1px);
			background-repeat: no-repeat;
			width: 20px;
			height: 20px;
		}
		@media (max-width: $laptop) {
			margin-bottom: 12px;
		}
	}

	// .article-card__name

	&__name {
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 23px;
		display: block;
		@media (max-width: $laptop) {
			margin-bottom: 12px;
		}
	}

	// .article-card__bottom

	&__bottom {
		display: flex;
		justify-content: space-between;
	}

	// .article-card__time
	&__date,
	&__views,
	&__time {
		font-weight: 500;
		font-size: 14px;
		opacity: 0.7;
		display: flex;
		column-gap: 4px;
		&::before {
			content: "";
			transform: translateY(2px);
			display: inline-block;
			width: 16px;
			height: 16px;
			background-repeat: no-repeat;
		}
	}
	&__time {
		&::before {
			background-image: url("https://sewera.manager3.fvds.ru/srv/assets/images/main/header/icons/clock.svg");
		}
	}
	// .article-card__views

	&__views {
		&::before {
			background-image: url("https://sewera.manager3.fvds.ru/srv/assets/images/main/header/icons/eye.svg");
		}
	}

	// .article-card__date

	&__date {
		&::before {
			background-image: url("https://sewera.manager3.fvds.ru/srv/assets/images/main/header/icons/calendr.svg");
			transform: translateY(1px);
		}
	}
}
.sewera-serarch .blagoustrojstvo-tag-icon {
	&::before {
		content: "";
		background-image: url(https://sewera.manager3.fvds.ru/srv/assets/images/main/header/icons/tag-blago.svg);
	}
}
.sewera-serarch .vodosnabzhenie-tag-icon {
	&::before {
		content: "";
		background-image: url(https://sewera.manager3.fvds.ru/srv/assets/images/main/header/icons/tag-vodosnobzhnie.svg);
	}
}
.sewera-serarch .live-style-tag-icon {
	&::before {
		content: "";
		background-image: url(https://sewera.manager3.fvds.ru/srv/assets/images/main/header/icons/tag-liveStyle.png);
	}
}

.sewera-serarch .septik-style-tag-icon {
	&::before {
		content: "";
		background-image: url(https://sewera.manager3.fvds.ru/srv/assets/images/main/header/icons/tag-septik.svg);
	}
}
.sewera-serarch .not-result {
	// .not-result__title

	&__title {
		font-size: 34px;
		font-weight: 700;
		line-height: 1.1;
		margin-bottom: 20px;
		&::after {
			content: "";
			background: url("https://sewera.manager3.fvds.ru/srv/assets/images/main/header/icons/Face-With-Monocle.svg") 0
				0 / 30px 30px no-repeat;
			width: 30px;
			height: 30px;
			display: inline-block;
			transform: translate(0px, 3px);
		}
	}

	// .not-result__sub-title

	&__sub-title {
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 20px;
	}

	// .not-result__from

	&__from {
		display: flex;
		column-gap: 30px;
		padding: 30px;
		border-radius: 8px;
		background-color: $bgColor;
		@media (max-width: $tablet) {
			flex-direction: column;
			row-gap: 20px;
		}
	}

	// .not-result__left-block
	&__right-block,
	&__left-block {
		flex: 0 1 50%;
	}
	&__left-block {
		display: flex;
		flex-direction: column;
	}
	// not-result__textarea
	&__textarea {
		height: auto;
		min-height: 253px;
		padding: 20px;
		resize: none;
		line-height: 1.3;
		@media (max-width: $laptop) {
			flex: 1;
		}
		@media (max-width: $tablet) {
			min-height: 153px;
		}
		&::placeholder {
			opacity: 0.5;
			color: #102938;
			font-weight: 400;
			line-height: 1.3;
		}
	}

	&__input,
	&__textarea {
		background-color: #fff;
		width: 100%;
		border-radius: 4px;
		border-bottom: none;
	}
	// .not-result__label

	&__label {
		font-size: 14px;
		line-height: 1.1;
		font-weight: 700;
		margin-bottom: 10px;
		display: inline-block;
	}

	// .not-result__right-block

	&__right-block {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}

	// .not-result__input-wrapper

	&__input-wrapper {
	}

	// .not-result__submit

	&__submit {
		border-radius: 8px;
		padding: 17px 10px;
		line-height: 1;
		&::after {
			transform: translate(0px, -0.5px);
		}
	}

	&__input {
		padding: 8px 10px;
		line-height: 1;
		height: auto;
		&::placeholder {
			opacity: 0.5;
			color: #102938;
			font-weight: 400;
		}
	}

	&__agreements-data {
		font-size: 12px;
	}
}
.sewera-serarch .serarch-tabs {
	padding-top: 20px;
	// .serarch-tabs__wrapper-nav

	&__wrapper-nav {
		display: flex;
		gap: 12px;
		align-items: center;
		margin-bottom: 40px;
		@media (max-width: $tablet) {
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 24px;
		}
	}

	// .serarch-tabs__text-nav

	&__text-nav {
		font-weight: 700;
		font-size: 20px;
		line-height: 130%;
	}

	// .serarch-tabs__navigation

	&__navigation {
		display: flex;
		column-gap: 12px;
		@media (max-width: 429.98px) {
			font-size: 14px;
			column-gap: 6px;
		}
	}

	// .serarch-tabs__title

	&__title {
		padding: 8px 12px;
		display: flex;
		align-items: center;
		background-color: $bgColor;
		border-radius: 8px;
		line-height: 150%;
		transition: all 0.3s ease 0s;

		@media (max-width: 429.98px) {
			padding: 8px;
		}
		span {
			margin-right: 4px;
		}
		svg {
			margin-left: 8px;
		}
		svg path {
			transition: all 0.3s ease 0s;
		}
		&._tab-active {
			background-color: #102938;
			color: #fff;
		}
		&:nth-child(1) {
			&._tab-active svg path {
				fill: #ffb306;
			}
		}
		&:nth-child(2) {
			&._tab-active svg path {
				fill: #0db25a;
			}
		}
		&:nth-child(3) {
			&._tab-active svg path {
				fill: #ff6701;
			}
		}
	}

	// .serarch-tabs__content

	&__content {
	}

	// .serarch-tabs__body

	&__body {
		display: grid;
		flex-wrap: wrap;
		row-gap: 20px;
		column-gap: 20px;
		grid-template-columns: calc(33.333% - 20px) calc(33.333% - 20px) 33.33%;

		@media (max-width: $laptop) {
			grid-template-columns: calc(50%) calc(50% - 20px);
		}
		@media (max-width: $tablet) {
			gap: 24px;
			grid-template-columns: 100%;
		}
		//  serarch-tabs__body_product
		&_product {
			display: flex;
			flex-wrap: wrap;
			border: 1px solid #e8eaec;
			margin: 0;
			gap: 0;
			margin-bottom: 60px;
			@media (max-width: $tablet) {
				border-bottom: none;
			}
		}
	}
	// .serarch-tabs__card
	&__article-card,
	&__card {
		border-radius: 8px;
		background-color: $bgColor;
	} // .serarch-tabs__product-card

	&__product-card {
		width: calc(25%);
		border-right: 1px solid #e8eaec;
		border-bottom: 1px solid #e8eaec;
		&:nth-child(4n) {
			border-right: none;
		}
		@media (max-width: 1279.98px) {
			width: 33.333%;
			&:nth-child(3n) {
				border-right: none;
			}
			&:nth-child(4n) {
				border-right: 1px solid #e8eaec;
			}
		}
		@media (max-width: $laptop) {
			width: 50%;
			&:nth-child(2n) {
				border-right: none;
			}
			&:nth-child(3n) {
				border-right: 1px solid #e8eaec;
			}
		}
		@media (max-width: $tablet) {
			width: 100%;
			border-right: none;
			&:nth-child(3n) {
				border-right: none;
			}
		}
	}
	// .serarch-tabs__article-card

	&__article-card {
	}
}

.sewera-serarch .article-card {
	// .article-card__img

	&__img {
		height: 220px;
		display: block;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 8px;
		}
	}

	// .article-card__body

	&__body {
		padding: 16px;
	}

	// .article-card__tag

	&__tag {
		margin-bottom: 23px;
		font-size: 14px;
		display: flex;
		align-items: center;
		column-gap: 8px;
		&::before {
			content: "";
			transform: translateY(-1px);
			background-repeat: no-repeat;
			width: 20px;
			height: 20px;
		}
		@media (max-width: $laptop) {
			margin-bottom: 12px;
		}
	}

	// .article-card__name

	&__name {
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 23px;
		display: block;
		@media (max-width: $laptop) {
			margin-bottom: 12px;
		}
	}

	// .article-card__bottom

	&__bottom {
		display: flex;
		justify-content: space-between;
	}

	// .article-card__time
	&__date,
	&__views,
	&__time {
		font-weight: 500;
		font-size: 14px;
		opacity: 0.7;
		display: flex;
		column-gap: 4px;
		&::before {
			content: "";
			transform: translateY(2px);
			display: inline-block;
			width: 16px;
			height: 16px;
			background-repeat: no-repeat;
		}
	}
	&__time {
		&::before {
			background-image: url("https://sewera.manager3.fvds.ru/srv/assets/images/main/header/icons/clock.svg");
		}
	}
	// .article-card__views

	&__views {
		&::before {
			background-image: url("https://sewera.manager3.fvds.ru/srv/assets/images/main/header/icons/eye.svg");
		}
	}

	// .article-card__date

	&__date {
		&::before {
			background-image: url("https://sewera.manager3.fvds.ru/srv/assets/images/main/header/icons/calendr.svg");
			transform: translateY(1px);
		}
	}
}
.sewera-serarch .blagoustrojstvo-tag-icon {
	&::before {
		content: "";
		background-image: url(https://sewera.manager3.fvds.ru/srv/assets/images/main/header/icons/tag-blago.svg);
	}
}
.sewera-serarch .vodosnabzhenie-tag-icon {
	&::before {
		content: "";
		background-image: url(https://sewera.manager3.fvds.ru/srv/assets/images/main/header/icons/tag-vodosnobzhnie.svg);
	}
}
.sewera-serarch .live-style-tag-icon {
	&::before {
		content: "";
		background-image: url(https://sewera.manager3.fvds.ru/srv/assets/images/main/header/icons/tag-liveStyle.png);
	}
}

.sewera-serarch .septik-style-tag-icon {
	&::before {
		content: "";
		background-image: url(https://sewera.manager3.fvds.ru/srv/assets/images/main/header/icons/tag-septik.svg);
	}
}
.sewera-serarch .not-result {
	// .not-result__title

	&__title {
		font-size: 34px;
		font-weight: 700;
		line-height: 1.1;
		margin-bottom: 20px;
		&::after {
			content: "";
			background: url("https://sewera.manager3.fvds.ru/srv/assets/images/main/header/icons/Face-With-Monocle.svg") 0
				0 / 30px 30px no-repeat;
			width: 30px;
			height: 30px;
			display: inline-block;
			transform: translate(0px, 3px);
		}
	}

	// .not-result__sub-title

	&__sub-title {
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 20px;
	}

	// .not-result__from

	&__from {
		display: flex;
		column-gap: 30px;
		padding: 30px;
		border-radius: 8px;
		background-color: $bgColor;
		@media (max-width: $tablet) {
			flex-direction: column;
			row-gap: 20px;
		}
	}

	// .not-result__left-block
	&__right-block,
	&__left-block {
		flex: 0 1 50%;
	}
	&__left-block {
		display: flex;
		flex-direction: column;
	}
	// not-result__textarea
	&__textarea {
		height: auto;
		min-height: 253px;
		padding: 20px;
		resize: none;
		line-height: 1.3;
		@media (max-width: $laptop) {
			flex: 1;
		}
		@media (max-width: $tablet) {
			min-height: 153px;
		}
		&::placeholder {
			opacity: 0.5;
			color: #102938;
			font-weight: 400;
			line-height: 1.3;
		}
	}

	&__input,
	&__textarea {
		background-color: #fff;
		width: 100%;
		border-radius: 4px;
		border-bottom: none;
	}
	// .not-result__label

	&__label {
		font-size: 14px;
		line-height: 1.1;
		font-weight: 700;
		margin-bottom: 10px;
		display: inline-block;
	}

	// .not-result__right-block

	&__right-block {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}

	// .not-result__input-wrapper

	&__input-wrapper {
	}

	// .not-result__submit

	&__submit {
		border-radius: 8px;
		padding: 17px 10px;
		line-height: 1;
		&::after {
			transform: translate(0px, -0.5px);
		}
	}

	&__input {
		padding: 8px 10px;
		line-height: 1;
		height: auto;
		&::placeholder {
			opacity: 0.5;
			color: #102938;
			font-weight: 400;
		}
	}

	&__agreements-data {
		font-size: 12px;
	}
}
.sewera-serarch .card-product .catalog__item {
	padding: 0;

	height: 100%;
	@media (any-hover: hover) {
		&:hover {
			background-color: #fff;
		}
	}
}

.sewera-serarch .card-product .img {
	padding: 20px;
	display: flex;
	flex-direction: column-reverse;

	text-align: center;
	position: relative;
	height: auto;
	border-radius: 8px;
	background-color: #f0f4f9;
	padding: 10px;
	margin-bottom: 10px;
	img {
		max-width: 100%;
		height: 253px;
		-o-object-fit: cover;
		object-fit: cover;
		width: auto;
	}
}
.sewera-serarch .card-product .catalog-item__top {
	display: flex;
	align-items: center;
	width: 100%;
	height: 27px;
	.catalog-item__top-left {
		font-size: 14px;
		display: flex;
		align-items: center;
	}
	.i-row {
		position: static;
		background-color: #0db25a;
		border-radius: 10px 2px;
		color: #fff;
		padding: 4px 12px;

		font-size: 14px;
		line-height: 1.4;
		font-weight: 700;
		margin-right: 8px;
	}
}
.sewera-serarch .card-product .h-5 {
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 10px;
	padding: 0;
}
.sewera-serarch .card-product .catalog-item__body {
	display: flex;
	align-items: center;
	column-gap: 10px;
	font-size: 14px;
	margin-bottom: 10px;
	.catalog-item__body__item {
		display: flex;
		align-items: center;
		column-gap: 5px;
		color: #102938;
	}
}
.sewera-serarch .card-product ul {
	margin: 0 0 0px 20px !important;
	li {
		color: #102938;
		list-style: disc;
		font-size: 14px !important;
	}
}
.sewera-serarch .card-product .i-btn.open path {
	fill: #88959c;
}
.sewera-serarch .card-product .modific-bl {
	width: 100%;
}
.sewera-serarch .card-product .modific-bl .i-btn span {
	background-color: #102938;
	&::after {
		content: "";
		border-top: 8px solid #102938;
	}
}
.sewera-serarch .card-product .tabs-row {
	padding-bottom: 0;
	margin-bottom: 10px;
	.line,
	&::before {
		display: none;
	}

	.modification_load {
		list-style: none;

		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		width: 100%;
		padding: 6px 4px;
		font-size: 14px;
		line-height: 1.4;
		border-top: 1px solid #e8eaec;
		border-bottom: 1px solid #e8eaec;
		border-right: 1px solid #e8eaec;
		text-align: center;
		&.active {
			background-color: #f0f4f9;
			font-weight: 700;
		}
		&:first-child {
			border-left: 1px solid #e8eaec;
			border-radius: 4px 0 0 4px;
		}
		&:last-child {
			border-radius: 0 4px 4px 0;
		}
		&:only-child {
			border-radius: 4px;
		}
	}
}
.sewera-serarch .card-product .catalog-item__bottom__prices__price {
	font-size: 20px;
	line-height: 1.3;
	font-weight: 800;
}
.sewera-serarch .card-product .catalog-item__bottom__prices__old-price {
	font-size: 14px;
	line-height: 1;
	color: #88959c;
	text-decoration: line-through;
}
.sewera-serarch .card-product .catalog-item__bottom__prices {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 20px;
	color: #102938;
	margin-bottom: 10px;
}
.sewera-serarch .card-product .catalog-item__bottom__btn-cart {
	text-transform: uppercase;
	border: none;
	font-weight: 700;
	font-size: 14px;
	padding: 8px;
	background-color: #102938;
	color: #fff;
	width: 100%;
	display: flex;
	justify-content: center;
	border-radius: 4px;
}
.sewera-serarch .card-product .catalog-item__bottom {
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex: 1 1;
	justify-content: flex-end;
}
.sewera-serarch .card-product .pr-small {
	display: flex;
	flex-direction: column;
	box-shadow: none;
	height: 100%;
}
.sewera-serarch .card-product .mobile-bl.modific-btns {
	display: none;
}
.sewera-serarch .card-product .pr-body-col {
	display: flex;
	flex-direction: column;
}
.sewera-serarch .card-product .pr-small .tabs-row ul {
	display: flex;
	width: 100%;
	list-style: none;
	margin: 0 !important;
}
.sewera-serarch .card-product .txt {
	margin-bottom: 10px;
}

.shimmer {
	width: 100%;
	min-height: 700px;
	border-radius: 8px;
	background: linear-gradient(to right, #f0f0f0 0%, #e0e0e0 20%, #f0f0f0 40%, #f0f0f0 100%);
	background-size: 200% auto;
	animation: shimmer 2s linear infinite;
}

@keyframes shimmer {
	0% {
		background-position: -200% 0;
	}

	100% {
		background-position: 200% 0;
	}
}
.simplesearch-paging {
	padding: 10px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	row-gap: 10px;
	column-gap: 20px;
}

.simplesearch-result-pages {
	display: none;
}
.simplesearch-page {
	font-size: 18px;
	opacity: 0.7;
	border: 1px solid #e8eaec;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 5px;
}
.pag-ellipsis {
	opacity: 0.7;
}
.simplesearch-current-page {
	border-radius: 4px;
	background-color: var(--bgMain);

	font-weight: 600;
	opacity: 1;
	color: #102938;
}
.simplesearch-result-pages__prev,
.simplesearch-result-pages__next {
	display: flex;
	align-items: center;
	justify-content: center;
	&::before {
		content: "";
		width: 20px;
		height: 20px;
		flex: 0 1 20px;
		transform: rotate(270deg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE1IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPHBhdGggaWQ9IlZlY3RvciA5NCIgZD0iTTEuNSAxTDcuNSA3TDEzLjUgMSIgc3Ryb2tlPSIjMTAyOTM4IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PC9wYXRoPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9zdmc+");
	}
}
.simplesearch-result-pages__prev {
	&::before {
		transform: rotate(90deg);
	}
}
@media (max-width: 767.98px) {
	.simplesearch-page {
		font-size: 16px;
		width: 25px;
		height: 25px;
	}
	.simplesearch-paging {
		column-gap: 10px;
		padding: 0px;
	}
}
