.sewera-serarch .serarch-tabs {
	padding-top: 20px;
	// .serarch-tabs__wrapper-nav

	&__wrapper-nav {
		display: flex;
		gap: 12px;
		align-items: center;
		margin-bottom: 40px;
		@media (max-width: $tablet) {
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 24px;
		}
	}

	// .serarch-tabs__text-nav

	&__text-nav {
		font-weight: 700;
		font-size: 20px;
		line-height: 130%;
	}

	// .serarch-tabs__navigation

	&__navigation {
		display: flex;
		column-gap: 12px;
		@media (max-width: 429.98px) {
			font-size: 14px;
			column-gap: 6px;
		}
	}

	// .serarch-tabs__title

	&__title {
		padding: 8px 12px;
		display: flex;
		align-items: center;
		background-color: $bgColor;
		border-radius: 8px;
		line-height: 150%;
		transition: all 0.3s ease 0s;

		@media (max-width: 429.98px) {
			padding: 8px;
		}
		span {
			margin-right: 4px;
		}
		svg {
			margin-left: 8px;
		}
		svg path {
			transition: all 0.3s ease 0s;
		}
		&._tab-active {
			background-color: #102938;
			color: #fff;
		}
		&:nth-child(1) {
			&._tab-active svg path {
				fill: #ffb306;
			}
		}
		&:nth-child(2) {
			&._tab-active svg path {
				fill: #0db25a;
			}
		}
		&:nth-child(3) {
			&._tab-active svg path {
				fill: #ff6701;
			}
		}
	}

	// .serarch-tabs__content

	&__content {
	}

	// .serarch-tabs__body

	&__body {
		display: grid;
		flex-wrap: wrap;
		row-gap: 20px;
		column-gap: 20px;
		grid-template-columns: calc(33.333% - 20px) calc(33.333% - 20px) 33.33%;

		@media (max-width: $laptop) {
			grid-template-columns: calc(50%) calc(50% - 20px);
		}
		@media (max-width: $tablet) {
			gap: 24px;
			grid-template-columns: 100%;
		}
		//  serarch-tabs__body_product
		&_product {
			display: flex;
			flex-wrap: wrap;
			border: 1px solid #e8eaec;
			margin: 0;
			gap: 0;
		}
	}
	// .serarch-tabs__card
	&__article-card,
	&__card {
		border-radius: 8px;
		background-color: $bgColor;
	} // .serarch-tabs__product-card

	&__product-card {
		width: calc(25%);
		border-right: 1px solid #e8eaec;
		border-bottom: 1px solid #e8eaec;
		&:nth-child(4n) {
			border-right: none;
		}
		@media (max-width: $laptop) {
			width: 33.333%;
			&:nth-child(3n) {
				border-right: none;
			}
		}
		@media (max-width: $tablet) {
			width: 100%;
			border-right: none;
		}
	}
	// .serarch-tabs__article-card

	&__article-card {
	}
}

.sewera-serarch .service-card {
	// .service-card__header

	&__header {
		.inside-slider__slider {
			max-width: 767px;
			width: 100%;
			height: 260px;
		}
		.inside-slider__slide img {
			border-radius: 8px 8px 0 0;
			width: 100%;
			height: 100%;
		}
	}

	// .service-card__body

	&__body {
		padding: 15px;
	}

	// .service-card__name

	&__name {
		margin-bottom: 5px;
		@media (max-width: $laptop) {
		}
	}

	// .service-card__text

	&__text {
		margin-bottom: 10px;
		@media (max-width: $laptop) {
			font-size: 14px;
		}
	}

	// .service-card__link

	&__link {
	}

	// .service-card__bottom

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .service-card__price
	&__name,
	&__price {
		font-weight: 700;
		font-size: 20px;
		line-height: 130%;
		@media (max-width: $laptop) {
			font-size: 16px;
		}
	}

	// .service-card__btn

	&__btn {
		display: flex;
		align-items: center;
		font-weight: 600;
		column-gap: 8px;
		line-height: 1.25;
		&::after {
			content: "";
			background: url("https://sewera.manager3.fvds.ru/srv/assets/images/main/header/icons/arrowOrange.svg") 0 0
				no-repeat;
			width: 11px;
			height: 12px;
		}
		@media (max-width: $laptop) {
			font-size: 14px;
			line-height: 1.25;
		}
	}
}

.sewera-serarch .product-card {
	&__wrapper {
		display: flex;
		flex-direction: column;
		padding: 20px;
	}
	// .product-card__header
	&__header {
		background-color: $bgColor !important;
		display: flex;
		flex-direction: column;
		border-radius: 6px;
		position: relative;
		margin-bottom: 10px;
	}

	// .product-card__top-header

	&__top-header {
		z-index: 100;
		padding: 10px;
		width: 100%;
	}

	// .product-card__dicount

	&__dicount {
		background-color: #0db25a;
		border-radius: 10px 2px;
		color: #fff;
		padding: 4px 12px;
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 1.4;
		font-weight: 700;
		margin-right: 8px;
	}

	// .product-card__stock

	&__stock {
		font-weight: 500;
		font-size: 12px;
		line-height: 1.2;
	}

	// .product-card__img

	&__img {
		text-align: center;
		img {
		}
	}

	// .product-card__body

	&__body {
	}

	// .product-card__name

	&__name {
		font-weight: 700;
		line-height: 1.1;
		margin-bottom: 5px;
	}

	// .product-card__row

	&__row {
		margin-bottom: 5px;
		display: flex;
		column-gap: 10px;
	}

	// .product-card__rating
	&__reviews,
	&__rating {
		font-size: 12px;
		line-height: 1.2;
		&::before {
			content: "";

			transform: translateY(1px);
			display: inline-block;
			height: 14px;
			width: 14px;
			margin-right: 5px;
			background-repeat: no-repeat;
		}
	}

	// .product-card__reviews

	&__reviews {
		&::before {
			background-image: url(https://sewera.ru/srv/assets/images/septik/icons/reviewsIcon.svg);
		}
	}
	&__rating {
		&::before {
			background-image: url(https://sewera.ru/srv/assets/images/septik/icons/star-rating.svg);
		}
	}
	// .product-card__list

	&__list {
		font-size: 14px;
		line-height: 1.1;

		margin-bottom: 12px;
		li {
			list-style: disc !important;
			&:not(:last-child) {
				margin-bottom: 3px;
			}
		}
	}

	// .product-card__block-price

	&__block-price {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 20px;
		background-color: $bgColor;
		border-radius: 4px;
		padding: 7px;
		margin-bottom: 5px;
	}

	// .product-card__current-price

	&__current-price {
		font-weight: 700;
		font-size: 20;
		line-height: 1.2;
	}

	// .product-card__discount-price

	&__discount-price {
		font-size: 14px;
		text-decoration: line-through;
		opacity: 0.7;
	}
	&__btn {
		width: 100%;
		width: 13.5px 0;
	}
}

.sewera-serarch .article-card {
	// .article-card__img

	&__img {
		height: 220px;
		display: block;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 8px;
		}
	}

	// .article-card__body

	&__body {
		padding: 16px;
	}

	// .article-card__tag

	&__tag {
		margin-bottom: 23px;
		font-size: 14px;
		display: flex;
		align-items: center;
		column-gap: 8px;
		&::before {
			content: "";
			transform: translateY(-1px);
			background-repeat: no-repeat;
			width: 20px;
			height: 20px;
		}
		@media (max-width: $laptop) {
			margin-bottom: 12px;
		}
	}

	// .article-card__name

	&__name {
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 23px;
		display: block;
		@media (max-width: $laptop) {
			margin-bottom: 12px;
		}
	}

	// .article-card__bottom

	&__bottom {
		display: flex;
		justify-content: space-between;
	}

	// .article-card__time
	&__date,
	&__views,
	&__time {
		font-weight: 500;
		font-size: 14px;
		opacity: 0.7;
		display: flex;
		column-gap: 4px;
		&::before {
			content: "";
			transform: translateY(2px);
			display: inline-block;
			width: 16px;
			height: 16px;
			background-repeat: no-repeat;
		}
	}
	&__time {
		&::before {
			background-image: url("https://sewera.manager3.fvds.ru/srv/assets/images/main/header/icons/clock.svg");
		}
	}
	// .article-card__views

	&__views {
		&::before {
			background-image: url("https://sewera.manager3.fvds.ru/srv/assets/images/main/header/icons/eye.svg");
		}
	}

	// .article-card__date

	&__date {
		&::before {
			background-image: url("https://sewera.manager3.fvds.ru/srv/assets/images/main/header/icons/calendr.svg");
			transform: translateY(1px);
		}
	}
}
.sewera-serarch .blagoustrojstvo-tag-icon {
	&::before {
		content: "";
		background-image: url(https://sewera.manager3.fvds.ru/srv/assets/images/main/header/icons/tag-blago.svg);
	}
}
.sewera-serarch .vodosnabzhenie-tag-icon {
	&::before {
		content: "";
		background-image: url(https://sewera.manager3.fvds.ru/srv/assets/images/main/header/icons/tag-vodosnobzhnie.svg);
	}
}
.sewera-serarch .live-style-tag-icon {
	&::before {
		content: "";
		background-image: url(https://sewera.manager3.fvds.ru/srv/assets/images/main/header/icons/tag-liveStyle.png);
	}
}

.sewera-serarch .septik-style-tag-icon {
	&::before {
		content: "";
		background-image: url(https://sewera.manager3.fvds.ru/srv/assets/images/main/header/icons/tag-septik.svg);
	}
}
