.burger,
.header-new__wrap,
.nav__item_relative {
  position: relative;
}
.catalog__link:hover,
.header-new__num:hover,
.nav__link:hover,
.sub-menu__link:hover,
.wish__link:hover {
  color: #102938 !important;
}
.blog__link,
.burger,
.button,
.call-back__btn,
.catalog__link,
.footer__address,
.footer__phone,
.messengers__link,
.nav__link,
.sub-menu__link,
.wish__link {
  cursor: pointer;
}
.header-new {
  background: #fff;
}
.header-new__wrap {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid #e8eaec;
}
.header-new__first-block {
  display: flex;
  gap: 30px;
  align-items: center;
}
.footer__logo,
.header-new__logo,
.logo {
  width: 186px;
  height: 39px;
}
.footer__logo,
.header-new__logo {
  display: flex;
  align-items: center;
}

.header-new__list-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header-new__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-new__link {
  display: flex;
  cursor: pointer;
}
.header-new__icon_phone,
.header-new__num-mobile {
  display: none;
}
.header-new__num {
  font: 600 18px/125% "Roboto Flex";
  color: #102938;
  letter-spacing: 0.7px;
  white-space: nowrap;
}
.button,
.nav__item {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  font-weight: "Roboto Flex";
  text-align: center;
}
.header-new__icon,
.messengers__icon {
  width: 20px;
  height: 20px;
}
.logo__img {
  width: 100% !important;
  height: auto !important;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #102938;
  border-radius: 4px;
  background: #f5f5f5;
  padding: 10px;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.nav__item_relative .nav__link::after {
  content: "";
  width: 11px;
  height: 10px;
  background: url("https://sewera.ru/catalog/view/theme/sewera/images/nav-link-arrow.svg")
    center/contain no-repeat;
  transition: transform 0.2s;
}
.nav__item_active .nav__window,
.nav__item_hover .nav__window {
  display: block;
}
.nav__item_active .burger__line_line1,
.nav__item_hover .burger__line_line1 {
  transform: rotate(-45deg);
  transform-origin: 15px 2px;
}
.mob-menu,
.nav__item_active .burger__line_line2,
.nav__item_hover .burger__line_line2,
.nav__window,
.toolbar-mob {
  display: none;
}
.nav__item_active .burger__line_line3,
.nav__item_hover .burger__line_line3 {
  transform: rotate(45deg);
  transform-origin: 15px 0px;
}
.nav__item_active .nav__link::after,
.nav__item_hover .nav__link::after {
  transform: rotate(-180deg);
}
.nav__button {
  min-width: 126px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 11px 15px 11px 10px;
}
.nav__burger_active {
  z-index: 0;
}
.catalog,
.sub-menu {
  z-index: 100;
  transform: translateY(100%);
}
.nav__burger_active::before {
  position: absolute;
  z-index: 1;
  content: "";
  top: -2.5px;
  right: -2.5px;
  width: 5px;
  height: 5px;
  background: #eb5757;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
}
.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #102938;
}
.burger {
  width: 17px;
  height: 12px;
  transition: 0.3s;
}
.burger__line,
.catalog,
.sub-menu {
  position: absolute;
}
.burger__line {
  width: 17px;
  height: 2px;
  border: none;
  background: #102938;
  border-radius: 2px;
  transition:
    transform 0.2s,
    transform-origin 0.2s;
}
.catalog__wrap,
.sub-menu__wrap {
  background: #fff;
  box-shadow: 0 4px 28px 0 rgba(0, 60, 92, 0.08);
}
.burger__line_line1 {
  top: 0;
  left: 0;
}
.burger__line_line2 {
  top: 5px;
  left: 0;
}
.burger__line_line3 {
  bottom: 0;
  left: 0;
}
.catalog {
  display: none;
  left: 0;
  bottom: 30px;
  max-width: 1264px;
  width: 100%;
}
.catalog__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  border-radius: 8px;
  padding: 30px;
  margin-top: 21px;
}
.blog,
.catalog__list {
  width: 100%;
}
.catalog__list-item {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #e8eaec;
  width: 100%;
}
.catalog__list-item:first-child {
  padding-top: 0;
}
.catalog__list-item__body {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  gap: 2px 33px;
}
.catalog__list-item__header {
  text-align: left;
  padding: 8px 10px;
  display: block;
  font: 700 16px/120% "Roboto Flex";
  color: #102938;
}
.catalog__list-item__header__icon {
  width: 20px;
  min-width: 20px;
  height: 20px;
  margin-right: 10px;
  object-fit: contain;
}
.catalog__item {
  transition:
    border-radius 0.3s,
    background 0.3s;
}
.catalog__item:hover {
  border-radius: 6px;
  background: #f5f5f5;
}
.catalog__link {
  font: 700 16px/150% "Roboto Flex";
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 7px;
  color: #102938;
  padding: 8px 10px;
}
.catalog__link::after {
  content: "";
  width: 12px;
  height: 12px;
  background: url("/srv/assets/images/main/header/menu/header-new-link-arrow.svg")
    center/contain no-repeat;
}
.catalog__wish {
  padding-top: 8px;
}
.catalog__wish .catalog__wish__header__icon,
.wishlist_mob-menu__icon {
  width: 20px;
  height: 20px;
  min-width: 20px;
  object-fit: contain;
  margin-right: 10px;
}
.wish {
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 6px;
}
.wish_active::after {
  content: "";
  width: 5px;
  height: 5px;
  background: #eb5757;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
}
.wish__link {
  font: 500 16px/120% "Roboto Flex";
  color: #102938;
  text-align: left;
  padding-left: 10px;
}
.sub-menu {
  display: none;
  left: -13px;
  bottom: 0;
  width: fit-content;
}
.sub-menu__wrap {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  gap: 30px;
  border-radius: 8px;
  padding: 30px;
  margin-top: 30px;
}
.sub-menu__list {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  text-align: left;
}
.blog__wrap,
.call-back {
  flex-direction: column;
  display: flex;
}
.sub-menu__item {
  min-width: 150px;
  width: 100%;
}
.sub-menu__link {
  font: 16px/150% "Roboto Flex";
  display: flex;
  width: 100%;
  color: #102938;
}
.sub-menu__blog {
  position: relative;
  min-width: 150px;
  max-height: 100%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}
.sub-menu__blog::before {
  position: absolute;
  content: "";
  top: 0;
  left: -30px;
  width: 1px;
  height: 100%;
  background: #e8eaec;
}
.blog__wrap {
  align-items: flex-start;
  justify-content: stretch;
  gap: 10px;
}
.blog__title {
  font: 700 16px/130% "Roboto Flex";
  color: #102938;
}
.blog__title_footer {
  line-height: 150%;
}
.blog__description {
  font: 14px/140% "Roboto Flex";
  text-align: left;
  color: #102938;
  white-space: normal;
}
.blog__description_max-height {
  display: block;
  height: 100%;
}
.blog__links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 5px;
  width: 100%;
}
.blog__link {
  width: 34px;
  height: 34px;
}
.blog__icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.messengers__link {
  flex: 1 1 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.call-back__title,
.messengers__name {
  font: 700 16px/125% "Roboto Flex";
  text-align: left;
  color: #102938;
}
.call-back__text,
.info__text {
  font: 700 16px/150% "Roboto Flex";
}
.call-back {
  height: 88px;
  justify-content: center;
  align-items: stretch;
}
.call-back__wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}
.call-back__wrap_sent {
  display: none;
}
.call-back__input-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.call-back__input {
  border-radius: 4px !important;
  background: #fff !important;
  border: none !important;
  padding: 10.5px 10px !important;
}
.call-back__input::placeholder {
  font-size: 14px;
  line-height: 115%;
  color: #6f7f87;
  letter-spacing: 0.39px;
}
.footer__address:hover,
.footer__nav-name:hover,
.footer__phone:hover,
.footer__text:hover,
.footer__window-link:hover,
.info__text:hover {
  color: #102938 !important;
}
.call-back__btn {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-decoration: none !important;
  text-align: center;
  vertical-align: top;
  padding: 11px;
  border: none;
  background: #009cd9;
  border-radius: 6px;
  box-sizing: border-box;
}
.call-back__text,
.footer__text,
.info__text {
  text-align: left;
  color: #102938;
}
.call-back__text {
  display: none;
}
.call-back__text_sent,
.info {
  display: flex;
}
.info {
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.info__text_mob,
.mob-menu-cover {
  display: none;
}
.footer {
  background: #f0f4f9;
  margin-top: 45px;
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-bottom: 120px;
}
.footer__column-wrap,
.footer__wrap {
  display: grid;
  grid-template-rows: 1fr;
  gap: 30px;
}
.footer__wrap {
  grid-template-columns: minmax(221px, 293.5px) minmax(462px, 617px) minmax(
      221px,
      293.5px
    );
  border-bottom: 1px solid #e8eaec;
  padding: 60px 0 40px;
}
.footer__column-wrap {
  grid-template-columns: minmax(221px, 293.5px) minmax(221px, 293.5px);
}
.footer__address,
.footer__phone,
.footer__time {
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  font-family: "Roboto Flex";
  font-weight: 700;
  line-height: 150%;
  text-align: left;
  color: #102938;
}
.footer__phone {
  font-size: 16px;
  letter-spacing: 0.36px;
  border-top: 1px solid #e8eaec;
}
.footer__phone_pc {
  border-top: none !important;
  padding-top: 0 !important;
}
.footer__phone_mob {
  display: none !important;
}
.footer__nav-item_column2,
.footer__nav-list {
  display: grid;
  grid-template-rows: 1fr;
  gap: 30px;
}
.footer__address,
.footer__time {
  font-size: 14px;
}
.footer__address-text {
  font-style: normal;
}
.footer__nav {
  padding-top: 40px;
}
.footer__nav-list {
  grid-template-columns: minmax(221px, 293.5px) minmax(462px, 617px) minmax(
      221px,
      293.5px
    );
}
.footer__nav-item_column1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.footer__nav-item_column2 {
  grid-column: 2/3;
  grid-row: 1/2;
  grid-template-columns: minmax(221px, 293.5px) minmax(221px, 293.5px);
}
.footer__nav-item_column3 {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 30px;
}
.footer__nav-name {
  font: 700 16px/150% "Roboto Flex";
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  color: #102938;
}
.footer__nav-name_mob {
  display: none;
}
.footer__window-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7px;
  margin-top: 7px;
}
.footer__copy,
.footer__wrap-blocks {
  flex-direction: column;
  gap: 30px;
  display: flex;
}
.footer__window-link {
  font: 14px/150% "Roboto Flex";
  color: #102938;
}
.footer__wrap-blocks {
  justify-content: flex-start;
  align-items: flex-start;
}
.footer__blog {
  position: static;
  max-width: 150px;
  width: 100%;
}
.footer__copy {
  max-width: 186px;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 30px;
}
.footer__text {
  font: 12px/125% "Roboto Flex";
}
.footer__call-back {
  width: 100%;
  height: 74px;
}
.footer__messengers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}
@media (max-width: 1279px) {
  .header-new__wrap {
    min-height: 100px;
  }
  .header-new__logo {
    width: 140px;
    height: 30px;
  }
  .header-new__list-links,
  .nav__list {
    gap: 17px;
  }
  .header-new__num {
    font-size: 16px;
    letter-spacing: 0.58px;
  }
  .blog__title,
  .button,
  .call-back__title,
  .catalog__link,
  .footer__phone,
  .info__text,
  .messengers__name,
  .nav__item,
  .sub-menu__link,
  .wish__link {
    font-size: 14px;
  }
  .nav__button {
    min-width: 103px;
    gap: 10px;
    padding: 11px 10px;
  }
  .nav__link,
  .wish {
    gap: 5px;
  }
  .catalog {
    bottom: 32px;
  }
  .catalog__wrap {
    border-radius: 6px;
    padding: 20px;
    margin-top: 20px;
  }
  .catalog__list-item__body {
    gap: 2px 20px;
  }
  .catalog__link {
    gap: 7px;
  }
  .footer__column-wrap,
  .footer__nav-item_column2,
  .footer__nav-list,
  .footer__wrap {
    gap: 20px;
  }
  .catalog__link::after {
    width: 11px;
    height: 11px;
  }
  .sub-menu {
    left: 1px;
  }
  .sub-menu__wrap {
    gap: 20px;
    padding: 20px;
  }
  .sub-menu__blog {
    margin-left: 20px;
  }
  .sub-menu__blog::before {
    left: -20px;
  }
  .blog__description,
  .footer__address,
  .footer__time,
  .footer__window-link {
    font-size: 12px;
  }
  .blog__link {
    width: 30px;
    height: 30px;
  }
  .blog__link_footer {
    width: 34px;
    height: 34px;
  }
  .footer__content {
    padding-bottom: 90px;
  }
  .footer__wrap {
    padding: 40px 0 20px;
  }
  .footer__logo {
    width: 141px;
    height: 29px;
  }
  .footer__nav {
    padding-top: 20px;
  }
  .footer__nav-name {
    font-size: 14px;
  }
  .footer__window-list {
    gap: 4px;
    margin-top: 5px;
  }
  .footer__text {
    font-size: 10px;
    line-height: 125%;
    text-align: left;
    color: #102938;
  }
  .footer__text:hover {
    color: #102938 !important;
  }
}
@media (max-width: 1023px) {
  .common-home.mob-menu-open,
  body.mob-menu-open {
    overflow: hidden !important;
    overflow-y: hidden !important;
    height: 100%;
  }
  .accordion__link:hover,
  .mob-menu__nav-name:hover {
    color: #102938 !important;
  }
  .footer__nav-item_column2,
  .footer__nav-list,
  .footer__wrap {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .header-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: block;
  }
  .header-new__wrap {
    border: none;
    min-height: 60px;
  }
  .footer__logo,
  .header-new__logo,
  .mob-menu__logo {
    width: 113px;
    height: 24px;
  }
  .header-new__item_hidden,
  .header-new__nav,
  .header-new__num {
    display: none;
  }
  .header-new__list-links {
    gap: 15px;
  }
  .footer__nav-name_mob,
  .header-new__icon_phone {
    display: flex;
  }
  .header-new__num-mobile {
    display: flex;
    font-size: 0;
  }
  .jivo__counter,
  .toolbar-mob__name {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }
  .header-new__num-mobile:before {
    width: 20px;
    height: 20px;
    content: "";
    background-image: url("/srv/assets/images/main/header/menu/header-new-phone.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .toolbar-mob {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
    height: 60px;
    background: #102938;
    box-shadow: 0 -10px 20px 0 rgba(0, 60, 92, 0.08);
    z-index: 1005;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .toolbar-mob__item {
    flex: 1 1 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    position: relative;
    cursor: pointer;
    transition: color 0.3s;
  }
  .toolbar-mob__item_active {
    background-color: #0d212d;
  }
  .toolbar-mob__icon_active .toolbar-mob__icon-indicator,
  .toolbar-mob__item_active .jivo__counter {
    display: block;
  }
  .toolbar-mob__icon-indicator {
    display: none;
  }
  .toolbar-mob__name {
    letter-spacing: 0.2px;
    text-decoration: none;
    color: #fff;
  }
  .toolbar-mob__name_couponator {
    background: linear-gradient(45deg, #ffb096, #ff6bbb, #ac6bed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #e27cd5;
    margin-top: 3px;
  }
  #jivo_custom_widget.toolbar-mob__item_active svg path:nth-child(2) {
    stroke: #009cd9;
  }
  .jivo__counter {
    display: none;
    background: #eb5757;
    border-radius: 100px;
    padding: 0 4px;
    color: #fff;
    position: absolute;
    top: -17px;
    right: 0;
  }
  .mob-menu__nav-name,
  .mob-menu__phone {
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
  }
  .accordion__link,
  .mob-menu__nav-name,
  .mob-menu__phone {
    color: #102938;
  }
  .__jivoMobileButton,
  .footer__address_mob,
  .footer__time_mob {
    display: none !important;
  }
  .mob-menu {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 60px;
    right: -430px;
    z-index: 1002;
    max-height: calc(100vh - 60px);
    height: 100vh;
    width: 430px;
    background: #fff;
    transition: right 0.3s;
    overflow-y: auto;
  }
  .mob-menu_open {
    right: 0;
  }
  .mob-menu__wrap-scroll {
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
  }
  .mob-menu__wrap-scroll::-webkit-scrollbar {
    display: none;
  }
  .mob-menu__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    padding: 0 20px 20px;
  }
  .mob-menu__nav-name,
  .mob-menu__wrap {
    justify-content: space-between;
    display: flex;
  }
  .mob-menu__wrap {
    align-items: flex-start;
    padding: 18px 0;
  }
  .mob-menu__btn-close {
    cursor: pointer;
  }
  .footer__nav,
  .mob-menu__nav {
    padding-bottom: 5px;
  }
  .mob-menu__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 25px;
  }
  .footer__blog .blog__wrap,
  .mob-menu__blog .blog__wrap {
    gap: 5px;
    height: 100%;
  }
  .mob-menu__nav-item_wish {
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 5px;
  }
  .mob-menu__nav-name {
    align-items: center;
    gap: 6px;
  }
  .mob-menu__nav-name__icon {
    width: 20px;
    height: 20px;
    min-width: 20px;
    margin-right: 10px;
    object-fit: contain;
  }
  .mob-menu__phone {
    letter-spacing: 0.36px;
    text-align: left;
    border-top: 1px solid #e8eaec;
    padding-top: 20px;
    cursor: pointer;
  }
  .mob-menu__messengers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
  }
  .mob-menu__call-back {
    padding: 0 10px;
  }
  .mob-menu__blog {
    position: static;
    padding: 10px;
    width: auto;
  }
  .mob-menu__blog .blog__links {
    margin-top: 10px;
  }
  .mob-menu__info {
    padding: 10px;
  }
  .accordion {
    display: flex;

    flex-direction: column;

    justify-content: flex-start;

    align-items: stretch;
  }
  .accordion__head {
    display: flex;

    justify-content: space-between;

    align-items: center;
    gap: 20px;
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    transition: margin 0.3s;
  }
  .accordion__head_open.accordion__head::after {
    transform: rotate(-180deg);
  }
  .accordion__head_open.accordion__head {
    margin-bottom: 10px;
  }
  .accordion__head::after {
    content: "";
    width: 20px;
    height: 20px;
    background: url("/srv/assets/images/main/header/menu/mob-nav-accordion-arrow.svg")
      center/contain no-repeat;
    transition: transform 0.3s;
  }
  .accordion__body {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
  }
  .accordion__item,
  .block {
    border-radius: 6px;
    background: #f0f4f9;
  }
  .accordion__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 115%;
    cursor: pointer;
    padding: 10px;
  }
  .accordion__link::after {
    content: "";
    width: 11px;
    height: 11px;
    background: url("/srv/assets/images/main/header/menu/header-new-link-arrow.svg")
      center/contain no-repeat;
  }
  .messengers__link {
    padding: 10px 15px;
  }
  .messengers__link_footer {
    justify-content: center;
    width: calc(100% - 30px);
  }
  .call-back__title,
  .messengers__name {
    font-size: 14px;
  }
  .call-back__wrap_footer {
    width: auto;
    padding: 0 10px;
  }
  .call-back__text_footer {
    padding-left: 10px;
  }
  .info__text {
    font-size: 12px;
  }
  .footer__nav-name,
  .footer__phone {
    font-size: 16px;
  }
  .info__text_mob,
  .mob-menu-cover_active {
    display: block;
  }
  .info__text_mob address {
    font-style: normal !important;
  }
  .info__text_mail {
    margin-top: 20px;
    font-size: 14px;
  }
  .mob-menu-cover {
    content: "";
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.89;
    background: #102938;
  }
  .footer {
    background: #f0f4f9;
  }
  .footer__content {
    padding-bottom: 80px;
  }
  .footer__wrap {
    display: grid;
    gap: 20px;
    border-top: 1px solid #e8eaec;
    border-bottom: none;
    padding: 28px 0 18px;
  }
  .footer__column-wrap,
  .footer__text br {
    display: none;
  }
  .footer__phone {
    line-height: 125%;
    padding-top: 20px;
  }
  .footer__phone_pc {
    display: none !important;
  }
  .footer__phone_mob {
    display: block !important;
  }
  .footer__nav-item_column1 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .footer__nav-item_column2 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .footer__nav-item_column3 {
    grid-column: 1/2;
    grid-row: 2/3;
    gap: 20px;
  }
  .footer__window-list {
    margin-top: 0;
  }
  .footer__wrap-blocks {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    gap: 14px;
  }
  .footer__info {
    background: 0 0;
    padding: 0;
    flex: 1 1 0;
    justify-content: flex-start;
    width: 100%;
    max-height: 100%;
  }
  .footer__call-back {
    flex: 1 1 0;
    padding: 10px 0;
  }
  .footer__blog {
    width: calc(50% - 27px);
    max-width: 100%;
    padding: 10px;
  }
  .footer__blog .blog__link {
    width: 30px;
    height: 30px;
  }
  .footer__messengers {
    flex: 1 1 0;
    width: 100%;
    gap: 14px;
  }
  .footer__copy {
    max-width: 100%;
    gap: 20px;
    padding-top: 20px;
  }
}
@media (max-width: 767px) {
  .toolbar-mob {
    height: 48px;
  }
  .mob-menu {
    bottom: 0;
    top: 0;
    height: 100%;
    max-height: 100vh;
    right: -100%;
    left: 100%;
    width: 100%;
    transition: left 0.3s;
  }
  .mob-menu_open {
    right: 0;
    left: 0;
    bottom: 48px;
  }
  .mob-menu__phone {
    font-size: 18px;
    letter-spacing: 1px;
  }
  .call-back__text_footer {
    padding-left: 10px;
    align-items: center;
    height: 68px !important;
  }
  .messengers__link_footer {
    justify-content: flex-start;
  }
  .footer__wrap-blocks {
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    gap: 20px;
    width: 100%;
  }
  .footer__call-back {
    height: 78px;
  }
  .footer__messengers {
    flex-direction: row !important;
  }
  .footer__blog {
    max-width: calc(100% - 20px) !important;
    width: 100%;
  }
  .footer__blog .blog__links {
    gap: 10px;
  }
}
@media (max-width: 429px) {
  .mob-menu__content {
    padding: 0 14px 68px;
  }
  .mob-menu__phone {
    font-size: 16px;
  }
  .footer__phone {
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0.75px;
  }
}
.padding_top_null,
.page-width,
.product-page__container {
  padding-top: 0 !important;
}
.main-block {
  padding: 0 30px;
}
.coupon-button.visible {
  bottom: 50px;
}
.brdk {
  margin-top: 0 !important;
}
@media screen and (max-width: 1024px) {
  .main-block {
    margin-top: 0 !important;
    padding-left: 0;
    padding-right: 0;
  }
  .main-block__wrapper {
    padding-top: 50px !important;
  }
}
@media screen and (max-width: 700px) {
  .main-block__wrapper {
    padding-top: 0 !important;
  }
}

.header-of-page-with-banner .header-new__wrap {
  border-bottom: 0 !important;
}
