@charset "UTF-8";
:root {
  --mainColor: #102938;
  --textColorGray: #405460;
  --titleOpacityColor: hsla(203, 56%, 14%, 0.8);
  --textColorBlue: #009cd9;
  --bgMain: #f0f4f9;
  --fz-small: 14px;
  --lh-small: 1.25;
}
.header ul {
  margin: 0 !important;
}
.header {
  color: #102938;
}
.header a {
  color: #102938;
}
.header__touch {
  display: none;
}
.header__top {
  background-color: #f0f4f9;
}
.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 9px 0;
}
.top-header__drop-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 36px;
  -moz-column-gap: 36px;
  column-gap: 36px;
}
.drop-menu {
  position: relative;
}
.drop-menu__btn,
.drop-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 4px;
  -moz-column-gap: 4px;
  column-gap: 4px;
  cursor: pointer;
}
.drop-menu__btn::after,
.drop-menu__link::after {
  content: "";
  background: url(/srv/assets/images/main/header/icons/arrowMenu.svg) 0 0
    no-repeat;
  width: 10px;
  height: 6px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
._show .drop-menu__btn::after,
._show .drop-menu__link::after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.drop-menu__link::after {
  content: "";
  display: none;
}
.drop-menu__wrapper-list {
  display: none;
  padding-top: 8px;
  position: absolute;
  top: 18px;
  left: 0;
  z-index: 120;
}
._show .drop-menu__wrapper-list {
  display: block;
}
.drop-menu__list {
  padding: 4px;
  min-width: 115px;
  background: #fff;
  -webkit-box-shadow: 0 3px 30px rgba(0, 61, 95, 0.1);
  box-shadow: 0 3px 30px rgba(0, 61, 95, 0.1);
  border-radius: 8px;
}
.drop-menu__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-wrap: nowrap;
  color: inherit;
  padding: 4px 8px;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
}
.contacts-header__telegram,
.contacts-header__whatsapp {
  line-height: 1;
}
.contacts-header__whatsapp {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.contacts-header__telegram svg path,
.contacts-header__whatsapp svg path {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.contacts-header__tel {
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  color: #102938;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.bottom-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 24px 0;
}
.bottom-header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 187px;
  flex: 0 0 187px;
  margin-right: 3.35%;
}
.bottom-header__logo img {
  height: 30px;
  width: 187px;
}
.bottom-header__btn-menu {
  margin-right: 1.65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 13px;
  -moz-column-gap: 13px;
  column-gap: 13px;
  color: #fff;
}
.bottom-header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  border: 2px solid #dbe5f0;
  border-radius: 8px;
  padding: 7.5px 16px;
  margin-right: 1.65%;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.bottom-header__search._active {
  border: 2px solid #102938;
}
.bottom-header__input-serarch {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  outline: 0 !important;
  border: none;
}
.bottom-header__input-serarch::-webkit-input-placeholder {
  color: #102938;
  opacity: 0.5;
}
.bottom-header__input-serarch::-moz-placeholder {
  color: #102938;
  opacity: 0.5;
}
.bottom-header__input-serarch:-ms-input-placeholder {
  color: #102938;
  opacity: 0.5;
}
.bottom-header__input-serarch::-ms-input-placeholder {
  color: #102938;
  opacity: 0.5;
}
.bottom-header__input-serarch::placeholder {
  color: #102938;
  opacity: 0.5;
}
.bottom-header__input-serarch::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.bottom-header__btn-search {
  cursor: pointer;
}
.bottom-header__fast-order-btn {
  padding: 12px 20px;
  background-color: #f0f4f9;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  cursor: pointer;
}
.bottom-header__fast-order-btn span {
  text-wrap: nowrap;
  font-weight: 700;
}
.bottom-header__fast-order-btn::after {
  content: "";
  background: url(/srv/assets/images/main/header/icons/arrowbtn.svg) 0 0
    no-repeat;
  width: 14px;
  height: 14px;
}
.btn-claer-input {
  background: url(/srv/assets/images/main/header/icons/clse.svg) 50% 50% / cover
    no-repeat;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 50%;
  right: 45px;
  cursor: pointer;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.burger-btn {
  padding: 12px 13px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  background: #102938;
}
.burger-btn._active-burger .burger-btn__line_line1 {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 15px 2px;
  -ms-transform-origin: 15px 2px;
  transform-origin: 15px 2px;
}
.burger-btn._active-burger .burger-btn__line_line2 {
  display: none;
}
.burger-btn._active-burger .burger-btn__line_line3 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 15px 0;
  -ms-transform-origin: 15px 0;
  transform-origin: 15px 0;
}
.burger-btn__wrapper {
  width: 17px;
  height: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}
.burger-btn__line {
  position: absolute;
  width: 17px;
  height: 2px;
  border: none;
  background: #fff;
  border-radius: 2px;
  -webkit-transition:
    -webkit-transform 0.2s,
    -webkit-transform-origin 0.2s;
  transition:
    -webkit-transform 0.2s,
    -webkit-transform-origin 0.2s;
  transition:
    transform 0.2s,
    transform-origin 0.2s;
  transition:
    transform 0.2s,
    transform-origin 0.2s,
    -webkit-transform 0.2s,
    -webkit-transform-origin 0.2s,
    -ms-transform-origin 0.2s;
}
.burger-btn__line_line1 {
  top: 0;
  left: 0;
}
._active-burger .burger-btn__line_line1 {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 15px 2px;
  -ms-transform-origin: 15px 2px;
  transform-origin: 15px 2px;
}
.burger-btn__line_line2 {
  top: 5px;
  left: 0;
}
._active-burger .burger-btn__line_line2 {
  display: none;
}
.burger-btn__line_line3 {
  bottom: 0;
  left: 0;
}
._active-burger .burger-btn__line_line3 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 15px 0;
  -ms-transform-origin: 15px 0;
  transform-origin: 15px 0;
}
.catalog-menu {
  position: absolute;
  z-index: 111;
  width: 100%;
  height: 100%;
  top: 108px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  line-height: 1.5;
}
.catalog-menu__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsla(203, 56%, 14%, 0.5);
  z-index: 0;
}
.catalog-menu__wrapper {
  padding: 54px 0 20px;
  background-color: #fff;
  height: auto;
  position: relative;
  z-index: 1;
}
.catalog-menu .page-bl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.catalog-menu__wrapper-main-nav {
  padding-right: 40px;
}
.catalog-menu__wrapper-sub-nav {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.custom-scrollbar {
  overflow-y: auto;
  overflow-x: hidden;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #b1bdc9;
  height: 24px;
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  height: 24px;
}
.custom-scrollbar::-webkit-scrollbar-track-piece {
  background-color: hwb(203 6% 78%/0.1);
  width: 2px;
}
.main-nav {
  padding-right: 40px;
  border-right: 2px solid rgba(4, 42, 57, 0.1);
}
.main-nav__item {
  margin-bottom: 0;
  position: relative;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 8px;
}
.main-nav__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.main-nav__item._active {
  background-color: #f0f4f9;
}
.main-nav__item::after {
  content: "";
  background: url(/srv/assets/images/main/header/icons/arrowMenu.svg) 50% 50%/12px
    5px no-repeat;
  width: 12px;
  height: 5px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: inline-block;
}
.main-nav__item._arrow-hidden::after {
  display: none;
}
.main-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  padding: 8px 8px;
  z-index: 2;
  cursor: pointer;
}
.main-nav__link span {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}
.main-nav__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-nav__link img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 14px;
  flex: 0 0 14px;
}
.header-touch {
  padding: 8px 0;
}
.header-touch .page-bl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header-touch__left-block,
.header-touch__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px;
}
.header-touch .touch-catalog-menu__btn-burger,
.header-touch__btn-burger {
  padding: 11.5px 8px;
}
.header-touch .touch-catalog-menu__logo img,
.header-touch__logo img {
  width: 149.6px;
  height: 24px;
}
.header-touch__btn-search,
.header-touch__link-tel {
  padding: 9px;
  background-color: #f0f4f9;
  border-radius: 8px;
}
.header-touch__link-tel {
  display: inline-block;
  height: 42px;
}
.header-touch__link-tel::before {
  content: "";
  background: url(/srv/assets/images/main/header/icons/phone.svg) 0 0 no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
}
.touch-search-block {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 4px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  overflow-y: auto;
  height: 100%;
}
.touch-search-block .page-bl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.touch-search-block._show-touch-search {
  opacity: 1;
  visibility: visible;
  z-index: 200;
}
.touch-search-block__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 12px;
  -moz-column-gap: 12px;
  column-gap: 12px;
}
.touch-search-block__back {
  padding: 14px 0;
}
.touch-search-block__back img {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.touch-search-block__back::after {
  content: "";
  background: url(/srv/assets/images/main/header/icons/arrowbtn.svg) 0 0
    no-repeat;
  width: 14px;
  height: 14px;
  -webkit-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1);
}
.touch-search-block__search {
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #f0f4f9;
  padding: 9px 16px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.touch-search-block__input-serarch {
  background-color: #f0f4f9;
  line-height: 1.5;
  width: 100%;
  border: none;
}
.touch-search-block__input-serarch::-webkit-input-placeholder {
  color: #102938;
  opacity: 0.5;
}
.touch-search-block__input-serarch::-moz-placeholder {
  color: #102938;
  opacity: 0.5;
}
.touch-search-block__input-serarch:-ms-input-placeholder {
  color: #102938;
  opacity: 0.5;
}
.touch-search-block__input-serarch::-ms-input-placeholder {
  color: #102938;
  opacity: 0.5;
}
.touch-search-block__input-serarch::placeholder {
  color: #102938;
  opacity: 0.5;
}
.touch-search-block__input-serarch::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.bottom-header__search-list-block {
  position: absolute;
  top: 49px;
  left: 0;
  z-index: 10;
  max-width: 630px;
  width: auto;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 30px rgba(0, 61, 95, 0.1);
  box-shadow: 0 3px 30px rgba(0, 61, 95, 0.1);
  padding: 4px;
  border-radius: 8px;
  z-index: -111;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.bottom-header__search-list-block._show-search {
  visibility: visible;
  opacity: 1;
  z-index: 200;
}
.search-list-block {
  max-height: 304px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.search-list-block::-webkit-scrollbar {
  width: 4px;
}
.search-list-block::-webkit-scrollbar-thumb {
  background: #b1bdc9;
  height: 24px;
  border-radius: 8px;
}
.search-list-block::-webkit-scrollbar-track {
  height: 24px;
}
.search-list-block__list {
  height: 100%;
}
.search-list-block__item {
  padding: 4px 16px;
  width: calc(100% - 4px);
}
.search-list-block__item:not(:last-child) {
  margin-bottom: 4px;
}
.search-list-block__item a {
  text-align: left;
}
.search-list-block__it-bc {
  font-size: 12px;
  line-height: 125%;
}
.search-list-block__it-bc:first-child::before {
  display: none;
}
.search-list-block__it-bc::before {
  content: "•";
}
.menu-sub__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  padding-bottom: 10px;
}
.menu-sub__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-right: 103px;
  -webkit-column-gap: 60px;
  -moz-column-gap: 60px;
  column-gap: 60px;
}
.menu-sub__list {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 226px;
  flex: 0 1 226px;
}
.menu-sub__item {
  line-height: 1.5;
}
.menu-sub__item:first-child {
  font-weight: 700;
}
.menu-sub__item:not(:last-child) {
  margin-bottom: 10px;
}
.accordions-menu {
  background-color: #f0f4f9;
  padding: 12px;
  border-radius: 12px;
}
.accordions-menu__names {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.accordions-menu__names span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  line-height: 125%;
  color: #102938 !important;
}
.accordions-menu__names img {
  margin-right: 8px;
}
.accordions-menu__names::after {
  content: "";
  background: url(/srv/assets/images/main/header/icons/arrowMenu.svg) 0 0
    no-repeat;
  display: inline-block;
  width: 10px;
  height: 6px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.accordions-menu__names._spoller-active::after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.accordions-menu__list {
  padding-left: 28px;
}
.accordions-menu__it-list {
  padding: 4px 0;
  -moz-text-align-last: left;
  text-align-last: left;
}
.accordions-menu__it-list:not(:last-child) {
  margin-bottom: 8px;
}
.accordions-menu__it-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  line-height: 135%;
  color: #102938 !important;
}
.touch-catalog-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 111;
  top: 0;
  left: -200%;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.touch-catalog-menu._show {
  left: 0;
}
.touch-catalog-menu__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #042a39;
  opacity: 0.5;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
._show .touch-catalog-menu__bg {
  visibility: visible;
  opacity: 0.5;
}
.touch-catalog-menu__wrapper {
  max-width: 430px;
  height: 100%;
  background-color: #fff;
  position: relative;
  z-index: 1;
  overflow-y: auto;
}
.touch-catalog-menu__top {
  padding: 8px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.touch-catalog-menu__left-block,
.touch-catalog-menu__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.touch-catalog-menu__nav {
  background-color: #fff;
  padding: 20px;
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 24px;
}
.social-block-touch {
  background-color: #f0f4f9;
  padding: 12px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 8px 12px;
}
.social-block-touch__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;
  font-weight: 700;
  line-height: 135%;
  padding: 7px 0;
  text-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: calc(50% - 12px);
}
.contacts-touch {
  margin-top: 24px;
  border-radius: 24px 24px 0 0;
  background-color: #f0f4f9;
  padding: 24px 20px 100px 20px;
}
.contacts-touch__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.contacts-touch__tel,
.contacts-touch__telegram,
.contacts-touch__whatsApp {
  text-align: center;
  padding: 13px 0;
  border-radius: 8px;
}
.contacts-touch__tel {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  padding: 12px;
  color: #fff !important;
  background-color: #00b54f;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}
.contacts-touch__telegram,
.contacts-touch__whatsApp {
  background-color: #fff;
  line-height: 135%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 calc(50% - 12px);
  flex: 0 1 calc(50% - 12px);
}
.contacts-touch__geo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.hit-season__title {
  font-weight: 700;
  line-height: 125%;
  margin-bottom: 12px;
  text-align: left;
  color: #102938;
}
.hit-season__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px;
}
.hit-season__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  position: relative;
  height: 187px;
}
.hit-season__img {
  position: absolute;
}
.hit-season__img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 8px;
}
._iconJornal,
._iconMail,
._iconRutube,
._iconTel,
._iconTelegram,
._iconTelgreamContact,
._iconVk,
._iconWhatsapp,
._iconYotuube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;
}
._iconJornal::before,
._iconMail::before,
._iconRutube::before,
._iconTel::before,
._iconTelegram::before,
._iconTelgreamContact::before,
._iconVk::before,
._iconWhatsapp::before,
._iconYotuube::before {
  content: "";
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
._iconMail::before {
  background-image: url(/srv/assets/images/main/header/icons/emailFooter.svg);
}
._iconWhatsapp::before {
  background-image: url(/srv/assets/images/main/header/icons/whatsappFooter.svg);
}
._iconTelgreamContact::before {
  background-image: url(/srv/assets/images/main/header/icons/telegramFootre.svg);
}
._iconTel {
  cursor: pointer;
  color: #102938;
}
._iconTel::before {
  background-image: url(/srv/assets/images/main/header/icons/telFooter.svg);
}
._iconJornal::before {
  background-image: url(/srv/assets/images/main/header/icons/touch-icon/ZHurnal.svg);
}
._iconVk::before {
  background-image: url(/srv/assets/images/main/header/icons/touch-icon/vkVideo.svg);
}
._iconTelegram::before {
  background-image: url(/srv/assets/images/main/header/icons/touch-icon/telegramTouch.svg);
}
._iconYotuube::before {
  background-image: url(/srv/assets/images/main/header/icons/touch-icon/youtuveTouch.svg);
}
._iconRutube::before {
  background-image: url(/srv/assets/images/main/header/icons/touch-icon/rutube.svg);
}
.no-scroll {
  overflow: hidden !important;
  overflow-y: hidden !important;
  height: 100%;
  width: 100%;
}
#search-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#search-loader::before {
  content: "";
  background: url(/srv/assets/images/main/header/icons/tube-spinner.svg) 0 0
    no-repeat;
  width: 30px;
  height: 30px;
}
._iconCompany::before,
._iconMidea::before,
._iconSearch::before,
._iconStocks::before {
  content: "";
  background-repeat: no-repeat;
  background-position: 0 0;
  display: inline-block;
}
._iconCompany::before {
  width: 17px;
  height: 20px;
  background-image: url(/srv/assets/images/main/header/icons/company.svg);
}
._iconMidea::before {
  width: 20px;
  height: 18px;
  background-image: url(/srv/assets/images/main/header/icons/midea.svg);
}
._iconStocks::before {
  width: 24px;
  height: 24px;
  background-image: url(/srv/assets/images/main/header/icons/stocks.svg);
}
._iconSearch::before {
  width: 24px;
  height: 24px;
  background-image: url(/srv/assets/images/main/header/icons/searchIcon.svg);
}
._iconSkvazhina::before {
  background-image: url(/srv/assets/images/main/header/icons/catalog-menu-icon/skvazhina.svg);
}
._iconBlagoustrojstvo::before,
._iconCistema-ochistki-vody::before,
._iconElektromontazhnyie::before,
._iconKolodec::before,
._iconKupeli::before,
._iconOther-service::before,
._iconPogreb::before,
._iconSeptik::before,
._iconServis::before,
._iconSkvazhina::before,
._iconSvajnyj-fundament::before,
._iconVideonablyudenie::before,
._iconVodosnabzhenie::before {
  content: "";
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16px;
  flex: 0 0 16px;
  width: 16px;
  height: 16px;
  display: inline-block;
}
._iconElektromontazhnyie::before {
  background-image: url(/srv/assets/images/main/header/icons/catalog-menu-icon/elektromontazhnyie.svg);
}
._iconSeptik::before {
  background-image: url(/srv/assets/images/main/header/icons/catalog-menu-icon/septik.svg);
}
._iconPogreb::before {
  background-image: url(/srv/assets/images/main/header/icons/catalog-menu-icon/pogreb.svg);
}
._iconVodosnabzhenie::before {
  background-image: url(/srv/assets/images/main/header/icons/catalog-menu-icon/vodosnabzhenie.svg);
}
._iconSkvazhina::before {
  background-image: url(/srv/assets/images/main/header/icons/catalog-menu-icon/skvazhina.svg);
}
._iconCistema-ochistki-vody::before {
  background-image: url(/srv/assets/images/main/header/icons/catalog-menu-icon/cistema-ochistki-vody.svg);
}
._iconBlagoustrojstvo::before {
  background-image: url(/srv/assets/images/main/header/icons/catalog-menu-icon/blagoustrojstvo.svg);
}
._iconVideonablyudenie::before {
  background-image: url(/srv/assets/images/main/header/icons/catalog-menu-icon/videonablyudenie.svg);
}
._iconServis::before {
  background-image: url(/srv/assets/images/main/header/icons/catalog-menu-icon/servis.svg);
}
._iconSvajnyj-fundament::before {
  background-image: url(/srv/assets/images/main/header/icons/catalog-menu-icon/svajnyj-fundament.svg);
}
._iconKolodec::before {
  background-image: url(/srv/assets/images/main/header/icons/catalog-menu-icon/kolodec.svg);
}
._iconKupeli::before {
  background-image: url(/srv/assets/images/main/header/icons/catalog-menu-icon/kupeli.svg);
}
._iconOther-service::before {
  background-image: url(/srv/assets/images/main/header/icons/catalog-menu-icon/other-service.svg);
}
.wrapper-color-main .bottom-header__fast-order-btn,
.wrapper-color-main .footer,
.wrapper-color-main .header .header__top,
.wrapper-color-main .header-touch__btn-search,
.wrapper-color-main .header-touch__link-tel {
  background-color: #f5f5f5;
}
@media (max-width: 1023.98px) {
  .header__desktop {
    display: none;
  }
  .header__touch {
    display: block;
  }
  .burger-btn {
    background-color: transparent;
  }
  .burger-btn._active-burger {
    background-color: #f0f4f9;
    border-radius: 50%;
  }
  .burger-btn._active-burger .burger-btn__line_line3 {
    width: 100%;
  }
  .burger-btn__wrapper {
    -webkit-transform: translate(-1px, 0);
    -ms-transform: translate(-1px, 0);
    transform: translate(-1px, 0);
  }
  .burger-btn__line {
    background: #102938;
  }
  .burger-btn__line_line3 {
    width: 66.666%;
  }
  .search-list-block {
    visibility: visible;
    opacity: 1;
    min-height: auto;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: static;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    padding: 24px 25px;
    max-width: 100%;
    max-height: none;
    overflow-y: auto;
  }
  .search-list-block__item {
    padding: 0;
  }
  .search-list-block__item:not(:last-child) {
    margin-bottom: 12px;
  }
  .search-list-block__name {
    margin-bottom: 4px;
    line-height: 150%;
  }
}
@media (any-hover: hover) and (max-width: 1023.98px) {
  .burger-btn:hover {
    background-color: #f0f4f9;
    border-radius: 50%;
  }
  .burger-btn:hover .burger-btn__line_line3 {
    width: 100%;
  }
}
@media (max-width: 429.98px) {
  .social-block-touch {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 8px;
  }
}
@media (any-hover: hover) {
  .drop-menu:hover .drop-menu__wrapper-list {
    display: block;
  }
  .drop-menu__link:hover {
    color: #102938 !important;
  }
  .drop-menu__item a:hover {
    background-color: #f0f4f9;
    color: #102938 !important;
  }
  .contacts-header__whatsapp:hover svg path {
    fill: #0db25a;
  }
  .contacts-header__telegram:hover svg path {
    fill: #27a7e7;
  }
  .contacts-header__tel:hover {
    color: #ff6701 !important;
  }
  .burger-btn:hover .burger-btn__line_line1 {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 15px 2px;
    -ms-transform-origin: 15px 2px;
    transform-origin: 15px 2px;
  }
  .burger-btn:hover .burger-btn__line_line2 {
    display: none;
  }
  .burger-btn:hover .burger-btn__line_line3 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 15px 0;
    -ms-transform-origin: 15px 0;
    transform-origin: 15px 0;
  }
  .main-nav__item:hover {
    background-color: #f0f4f9;
  }
  .main-nav__link:hover {
    color: #102938 !important;
  }
  .search-list-block__item:hover {
    background-color: #f0f4f9;
    border-radius: 4px;
  }
  .search-list-block__item a:hover {
    color: #102938;
  }
  .menu-sub__item a:hover {
    color: #102938;
  }
  .contacts-touch__tel.contacts-touch__tel:hover,
  .contacts-touch__telegram.contacts-touch__tel:hover,
  .contacts-touch__whatsApp.contacts-touch__tel:hover {
    color: #fff !important;
  }
  #search-loader:hover {
    background-color: transparent !important;
  }
}
@media (any-hover: hover) and (any-hover: hover) {
  .drop-menu:hover .drop-menu__btn::after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
